Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

prettier-markdown:
  name: prettier markdown
  description: check formatting of Markdown files
  language: system
  entry: prettier --write

cargo-deny:
  name: cargo deny
  description: check Rust dependencies licenses and for vulnerabilities
  language: system
  entry: cargo deny check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-nightly-fmt:
  name: cargo +nightly fmt
  description: format files with "cargo fmt" from the nightly toolchain
  language: system
  entry: cargo +nightly fmt
  args:
  - --
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-check:
  name: cargo check
  description: check for package errors with cargo check
  language: system
  entry: cargo check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-clippy:
  name: cargo clippy
  description: lint Rust source code
  language: system
  entry: cargo clippy
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-semver-checks:
  name: cargo semver-checks
  description: lint crate API changes for semver violations
  language: system
  entry: cargo semver-checks
  args:
  - --baseline-rev
  - HEAD
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

fix(steam-perfetto-sys): use non-standard "compatibility" option
  steam-perfetto-sys/build.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

chore: temporarily disable semver checks for steam-perfetto
  .pre-commit-config.yaml
Due: none

feat(steam-perfetto): add build script and library
  Cargo.lock
  Cargo.toml
  licenses.html
  steam-perfetto/Cargo.toml
  steam-perfetto/LICENSE
  steam-perfetto/build.rs
  steam-perfetto/src/lib.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

refactor(steam-spotter): use PathBufs rather than Strings for paths
  steam-spotter/src/app.rs
  steam-spotter/src/bin_loader.rs
  steam-spotter/src/log_parser.rs
  steam-spotter/src/main.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

Revert "chore: temporarily disable semver checks for steam-perfetto"
  .pre-commit-config.yaml
Due: none

chore: improve clarity of CI cache entry names
  .github/actions/cached-build-key/action.yaml
Due: none

infra: add IDs to named steps
  .github/workflows/online-documentation.yaml
Due: none

chore: temporarily disable semver checks for terminus
  .pre-commit-config.yaml
Due: none

feat(steam-perfetto-sys): update to latest Perfetto release
  Cargo.lock
  licenses.html
  steam-perfetto-sys/build.rs
  steam-perfetto/Cargo.toml
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

feat(steam-perfetto-sys,steam-perfetto)!: remove Perfetto build support
  .pre-commit-config.yaml
  Cargo.lock
  licenses.html
  steam-developer-guide/md_src/docs/api.md
  steam-perfetto-sys/Cargo.toml
  steam-perfetto-sys/build.rs
  steam-perfetto-sys/src/lib.rs
  steam-perfetto/Cargo.toml
  steam-perfetto/build.rs
Due: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

infra: update cargo-expand
  .github/actions/install-build-dependencies/install.sh
Due: none

infra: update stable Rust toolchain to 1.90.0
  .github/actions/install-dev-dependencies/install.sh
  Cargo.toml
  rust-toolchain.toml
  steam-doc-builder/src/asciidoctor_pp.rs
  steam-spotter/src/filter.rs
  steam-track/build.rs
  steam-track/examples/trace_checker.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

infra: update cargo-binstall
  .github/actions/install-build-dependencies/install.sh
Due: none

infra: update cargo-about
  .github/actions/install-dev-dependencies/install.sh
  licenses.html
Due: none

infra: update mdbook-cmdrun
  .github/actions/install-build-dependencies/install.sh
Due: none

infra: update cargo-deny
  .github/actions/install-dev-dependencies/install.sh
Due: none

infra: update release-plz
  .github/actions/install-dev-dependencies/install.sh
Due: none

chore: remove unused dependencies
  Cargo.lock
  Cargo.toml
  licenses.html
  steam-components/Cargo.toml
  steam-engine/Cargo.toml
  steam-models/Cargo.toml
  steam-track/Cargo.toml
Due: none

chore: cargo update
  Cargo.lock
  Cargo.toml
  examples/sim-ring/Cargo.toml
  licenses.html
  steam-config/Cargo.toml
  steam-spotter/Cargo.toml
Due: none

infra: set --locked when running cargo-about
  .pre-commit-config.yaml
Due: none

infra: reduce macOS GitHub-hosted runner usage
  .github/workflows/ci.yaml
Due: none

infra: install additional build and dev deps when not run as a GitHub Action
  .github/actions/install-build-dependencies/install.sh
  .github/actions/install-dev-dependencies/install.sh
  README.md
  steam-developer-guide/book.toml
Due: prettier-markdown

feat: Adding start of terminus framework
  Cargo.lock
  Cargo.toml
  about.toml
  deny.toml
  licenses.html
  steam-spotter/Cargo.toml
  steam-spotter/src/main.rs
  steam-spotter/src/ui.rs
  terminus/.gitignore
  terminus/Cargo.toml
  terminus/LICENSE
  terminus/README.md
  terminus/recipes/fmt.yaml
  terminus/recipes/from_history.yaml
  terminus/recipes/semver.yaml
  terminus/src/app_string.rs
  terminus/src/command.rs
  terminus/src/lib.rs
  terminus/src/main.rs
  terminus/src/recipe/converter/mod.rs
  terminus/src/recipe/converter/python.rs
  terminus/src/recipe/mod.rs
  terminus/src/runner/app.rs
  terminus/src/runner/handler.rs
  terminus/src/runner/mod.rs
  terminus/src/runner/ui.rs
  terminus/src/tui.rs
  terminus/src/vec_with_index.rs
  terminus/src/writer/app.rs
  terminus/src/writer/handler.rs
  terminus/src/writer/mod.rs
  terminus/src/writer/ui.rs
Due: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

Path conditions:
  prettier-markdown: any of: \.(md|markdown|mdown)$
  cargo-deny: any of: \.rs$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-semver-checks: any of: \.rs$
