Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/Software-GCAI/precommit-scripts
    rev: v1.1.1
    hooks:
      - id: gc-copyright
  - repo: local
    hooks:
      - id: prettier-markdown
        name: prettier markdown
        description: check formatting of Markdown files
        language: system
        types: [markdown]
        entry: prettier --write
      - id: cargo-deny
        name: cargo deny
        description: check Rust dependencies licenses and for vulnerabilities
        language: system
        types: [rust]
        entry: cargo deny check
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-nightly-fmt
        name: cargo +nightly fmt
        description: format files with "cargo fmt" from the nightly toolchain
        language: system
        types: [rust]
        entry: cargo +nightly fmt
        args: [--]
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-check
        name: cargo check
        description: check for package errors with cargo check
        language: system
        types: [rust]
        entry: cargo check
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-clippy
        name: cargo clippy
        description: lint Rust source code
        language: system
        types: [rust]
        entry: cargo clippy
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-semver-checks
        name: cargo semver-checks
        description: lint crate API changes for semver violations
        language: system
        types: [rust]
        entry: cargo semver-checks
        args: [--baseline-rev, HEAD]
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cog-verify
        name: cog verify
        description: check commit message is in Conventional Commit form
        language: system
        entry: cog verify --file
        stages: [commit-msg]
      - id: git-cliff
        name: git cliff
        description: ensure changelog is up to date before pushing to remote
        language: system
        entry: cargo run --bin git-cliff-wrapper
        always_run: true
        stages: [post-commit]
default_install_hook_types:
  [pre-commit, pre-merge-commit, commit-msg, post-commit, pre-push]

chore: temporarily disable semver checks for terminus
  .pre-commit-config.yaml
Due: none

feat: Adding start of terminus framework
  Cargo.lock
  Cargo.toml
  about.toml
  deny.toml
  licenses.html
  steam-spotter/Cargo.toml
  steam-spotter/src/main.rs
  steam-spotter/src/ui.rs
  terminus/Cargo.toml
  terminus/LICENSE
  terminus/README.md
  terminus/recipes/fmt.yaml
  terminus/recipes/from_history.yaml
  terminus/recipes/semver.yaml
  terminus/src/app_string.rs
  terminus/src/command.rs
  terminus/src/lib.rs
  terminus/src/main.rs
  terminus/src/recipe/converter/mod.rs
  terminus/src/recipe/converter/python.rs
  terminus/src/recipe/mod.rs
  terminus/src/runner/app.rs
  terminus/src/runner/handler.rs
  terminus/src/runner/mod.rs
  terminus/src/runner/ui.rs
  terminus/src/tui.rs
  terminus/src/vec_with_index.rs
  terminus/src/writer/app.rs
  terminus/src/writer/handler.rs
  terminus/src/writer/mod.rs
  terminus/src/writer/ui.rs
Due: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

Revert "chore: temporarily disable semver checks for terminus"
  .pre-commit-config.yaml
Due: none

refactor: rename Router to Algorithm to avoid confusion
  Cargo.lock
  examples/sim-ring/src/ring_builder.rs
  licenses.html
  steam-components/Cargo.toml
  steam-components/src/router.rs
  steam-components/tests/router.rs
  steam-models/src/ring_node.rs
  steam-models/tests/ring_node.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

chore: documentation cleanup and improve Delay docs
  steam-components/src/arbiter/mod.rs
  steam-components/src/delay.rs
  steam-components/src/flow_controls/credit_issuer.rs
  steam-components/src/flow_controls/credit_limiter.rs
  steam-components/src/flow_controls/limiter.rs
  steam-components/src/flow_controls/rate_limiter.rs
  steam-components/src/router.rs
  steam-components/src/sink.rs
  steam-components/src/source.rs
  steam-components/src/store.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

docs: add TRAMWAY image
  .pre-commit-config.yaml
  README.md
  tramway-developer-guide/md_src/getting_started.md
  tramway-developer-guide/md_src/tramway.png
Due: prettier-markdown

chore: temporarily disable semver checks ahead of package renaming
  .pre-commit-config.yaml
Due: none

Revert "chore: temporarily disable semver checks ahead of package renaming"
  .pre-commit-config.yaml
Due: none

refactor: improve variable naming in arbiters
  tramway-components/src/arbiter/mod.rs
  tramway-components/src/arbiter/policy/priority_round_robin.rs
  tramway-components/src/arbiter/policy/round_robin.rs
  tramway-components/src/arbiter/policy/weighted_round_robin.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

chore: improve force_tree (node sizes and initial x,y positions)
  tramway-spotter/frontend/lib/force_tree.js
  tramway-spotter/frontend/lib/helpers.js
  tramway-spotter/frontend/lib/sunburst.js
  tramway-spotter/frontend/lib/tree_map.js
  tramway-spotter/frontend/main.js
Due: none

feat: Add fabric model and tests
  examples/sim-ring/src/tracker_builder.rs
  tramway-components/src/delay.rs
  tramway-models/src/fabric/functional.rs
  tramway-models/src/fabric/mod.rs
  tramway-models/src/lib.rs
  tramway-models/src/memory/memory_access_gen/random.rs
  tramway-models/src/memory/memory_access_gen/strided.rs
  tramway-models/tests/fabric.rs
  tramway-models/tests/ring_node.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

feat: Add sim-fabric example
  Cargo.lock
  Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-fabric/LICENSE
  examples/sim-fabric/src/lib.rs
  examples/sim-fabric/src/main.rs
  examples/sim-fabric/src/packet_gen.rs
  examples/sim-fabric/src/source_sink_builder.rs
  examples/sim-fabric/src/tracker_builder.rs
  examples/sim-ring/src/main.rs
  examples/sim-ring/src/ring_builder.rs
  licenses.html
  tramway-models/src/fabric/functional.rs
  tramway-models/tests/fabric.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

chore: temporarily disable semver checks for sim-fabric
  .pre-commit-config.yaml
Due: none

refactor: move tracker_builder to tramway-track/src/builder
  examples/sim-fabric/src/lib.rs
  examples/sim-fabric/src/main.rs
  examples/sim-fabric/src/packet_gen.rs
  examples/sim-ring/src/lib.rs
  examples/sim-ring/src/main.rs
  examples/sim-ring/src/tracker_builder.rs
  tramway-track/src/builder.rs
  tramway-track/src/lib.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

refactor: rename packet to frame for EthernetFrames
  Cargo.lock
  Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-fabric/src/frame_gen.rs
  examples/sim-fabric/src/lib.rs
  examples/sim-fabric/src/main.rs
  examples/sim-fabric/src/source_sink_builder.rs
  examples/sim-ring/Cargo.toml
  examples/sim-ring/src/frame_gen.rs
  examples/sim-ring/src/lib.rs
  examples/sim-ring/src/main.rs
  examples/sim-ring/src/ring_builder.rs
  licenses.html
  tramway-models/Cargo.toml
  tramway-models/src/ethernet_frame.rs
  tramway-models/tests/ethernet_link.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

fix: ensure progress bar completes on success
  examples/sim-fabric/src/main.rs
  examples/sim-ring/src/main.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

feat: keep selection in spotter and use window size
  Cargo.lock
  licenses.html
  tramway-spotter/Cargo.toml
  tramway-spotter/frontend/index.html
  tramway-spotter/frontend/lib/force_tree.js
  tramway-spotter/frontend/lib/helpers.js
  tramway-spotter/frontend/lib/radial_tidy_tree.js
  tramway-spotter/frontend/lib/sunburst.js
  tramway-spotter/frontend/lib/tree_map.js
  tramway-spotter/frontend/main.js
  tramway-spotter/src/app.rs
  tramway-spotter/src/filter.rs
  tramway-spotter/src/rocket.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

chore: temporarily disable semver checks for sim-pipe
  .pre-commit-config.yaml
Due: none

feat: add sim-pipe example application
  Cargo.lock
  Cargo.toml
  examples/flaky-component/src/lib.rs
  examples/sim-pipe/Cargo.toml
  examples/sim-pipe/LICENSE
  examples/sim-pipe/src/frame_gen.rs
  examples/sim-pipe/src/lib.rs
  examples/sim-pipe/src/main.rs
  examples/sim-ring/src/main.rs
  licenses.html
  tramway-models/src/data_frame.rs
  tramway-models/src/lib.rs
  tramway-track/src/lib.rs
  tramway-track/tests/smoke_macros.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks
