Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

check-copyright:
  name: check copyright
  description: check copyright notice is valid
  language: system
  entry: cargo run --bin check-copyright
  require_serial: true
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

lychee-check-links:
  name: check links
  description: check validity of links in Markdown and HTML
  language: system
  entry: lychee .
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-markdown:
  name: prettier markdown
  description: check formatting of Markdown files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-yaml:
  name: prettier yaml
  description: check formatting of YAML files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-deny:
  name: cargo deny
  description: check Rust dependencies licenses and for vulnerabilities
  language: system
  entry: cargo deny check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-about:
  name: cargo about
  description: Document licenses of Rust dependencies
  language: system
  entry: cargo about generate --locked --workspace --all-features --fail --config about.toml --output-file licenses.html about.hbs
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-nightly-fmt:
  name: cargo +nightly fmt
  description: format files with "cargo fmt" from the nightly toolchain
  language: system
  entry: cargo +nightly fmt --
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-check:
  name: cargo check
  description: check for package errors with cargo check
  language: system
  entry: cargo check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-clippy-strict:
  name: cargo clippy-strict
  description: lint Rust source code
  language: system
  entry: env RUSTFLAGS="-D warnings" cargo clippy-strict
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-doc-gwr-dev:
  name: cargo doc-gwr-dev
  description: check Rust source code documentation
  language: system
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc-gwr-dev
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

infra: switch from pre-commit to prek
  .github/actions/install-dev-dependencies/install.sh
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  gwr-terminus/recipes/semver.yaml
  prek.toml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-check

infra: remove pre-commit exclude rule
  .pre-commit-config.yaml
Due: check-copyright, prettier-yaml

test(gwr-engine): close coverage holes
  gwr-engine/src/events/all_of.rs
  gwr-engine/src/events/any_of.rs
  gwr-engine/src/events/once.rs
  gwr-engine/src/events/repeated.rs
  gwr-engine/src/events/waiting.rs
  gwr-engine/src/executor.rs
  gwr-engine/src/lib.rs
  gwr-engine/src/port/mod.rs
  gwr-engine/src/port/monitor.rs
  gwr-engine/src/time/clock.rs
  gwr-engine/src/time/mod.rs
  gwr-engine/src/time/simtime.rs
  gwr-engine/src/traits.rs
  gwr-engine/src/types.rs
  gwr-engine/tests/engine.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore(gwr-tools): temporarily exclude from semver checks
  semver-checks.sh
Due: check-copyright

feat(gwr-tools): Add a tool to compare two coverage reports
  Cargo.lock
  Cargo.toml
  gwr-terminus/recipes/coverage.yaml
  gwr-tools/Cargo.toml
  gwr-tools/LICENSE
  gwr-tools/README.md
  gwr-tools/src/bin/diff-coverage.rs
  gwr-tools/src/lib.rs
  gwr-tools/tests/diff_coverage.rs
  gwr-tools/tests/fixtures/after-summary.json
  gwr-tools/tests/fixtures/before-summary.json
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat: Make semver-checks.sh use locked versions and run in parallel
  semver-checks.sh
Due: check-copyright

infra: perform semver checks using locked dependencies
  semver-checks.sh
Due: check-copyright

infra: run semver checks during the default Git hooks
  .github/workflows/ci.yaml
  README.md
  gwr-terminus/recipes/semver.yaml
  prek.toml
  semver-checks.sh
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-check

fix(gwr-developer-guide): Fix the documentation after API changes to source/sink
  README.md
  gwr-developer-guide/md_src/applications/chapter.md
  gwr-developer-guide/md_src/components/ports.md
Due: check-copyright, lychee-check-links, prettier-markdown

infra: stop caching mdbook build directories in CI
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

docs(gwr-develeoper-guide): add sccache usage details
  .vscode/settings.json
  gwr-developer-guide/md_src/SUMMARY.md
  gwr-developer-guide/md_src/contributing/advanced_setup.md
  gwr-developer-guide/md_src/rust/commands.md
Due: check-copyright, lychee-check-links, prettier-markdown

feat(gwr-code-coverage): Add a tool to compare two coverage reports
  Cargo.lock
  Cargo.toml
  gwr-code-coverage/Cargo.toml
  gwr-code-coverage/LICENSE
  gwr-code-coverage/README.md
  gwr-code-coverage/recipes/coverage.yaml
  gwr-code-coverage/src/bin/diff-coverage.rs
  gwr-code-coverage/src/bin/gather-files.rs
  gwr-code-coverage/src/coverage/file.rs
  gwr-code-coverage/src/coverage/mod.rs
  gwr-code-coverage/src/coverage/report.rs
  gwr-code-coverage/src/dp_table.rs
  gwr-code-coverage/src/lcs.rs
  gwr-code-coverage/src/lib.rs
  gwr-code-coverage/src/markdown.rs
  gwr-code-coverage/src/paths.rs
  gwr-code-coverage/src/source_files.rs
  gwr-code-coverage/tests/diff_coverage.rs
  gwr-code-coverage/tests/fixtures/after-summary.json
  gwr-code-coverage/tests/fixtures/before-summary.json
  gwr-developer-guide/md_src/rust/commands.md
  gwr-models/src/processing_element/operators/add.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/tests/gen_timetable.rs
  licenses.html
  release-plz.toml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-components,gwr-models): Improve test harness with step_par, step_seq and no need for actions
  gwr-components/README.md
  gwr-components/src/test_helpers.rs
  gwr-components/tests/test_harness.rs
  gwr-components/tests/test_harness_errors.rs
  gwr-models/README.md
  gwr-models/tests/cache.rs
  gwr-models/tests/fabric.rs
  gwr-models/tests/test_harness.rs
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-components,gwr-models): create step module and remove step_ from function names
  gwr-components/README.md
  gwr-components/src/test_helpers.rs
  gwr-components/tests/test_harness.rs
  gwr-components/tests/test_harness_errors.rs
  gwr-models/README.md
  gwr-models/tests/cache.rs
  gwr-models/tests/fabric.rs
  gwr-models/tests/test_harness.rs
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-code-coverage): prevent fallback to default line numbers when unhelpful
  gwr-code-coverage/src/markdown.rs
  gwr-code-coverage/src/source_files.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-engine): Add Unpin to SimObject to allow PortPut to auto-derive Unpin
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-restaurant/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-engine/Cargo.toml
  gwr-engine/src/port/mod.rs
  gwr-engine/src/traits.rs
  gwr-models/Cargo.toml
  gwr-platform/Cargo.toml
  gwr-protocols/Cargo.toml
  gwr-resources/Cargo.toml
  gwr-timetable/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-engine): Ensure tasks performing a put() can be woken more than once.
  gwr-engine/src/port/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-components): Clean up GetEntity usage in connect_port! macro and Source
  examples/flaky-component/src/main.rs
  examples/flaky-component/tests/flaky.rs
  examples/flaky-with-delay/src/main.rs
  examples/scrambler/src/main.rs
  examples/sim-pipe/src/main.rs
  examples/sim-ring/src/main.rs
  gwr-components/benches/components.rs
  gwr-components/src/connect.rs
  gwr-components/src/delay.rs
  gwr-components/src/flow_controls/rate_limiter.rs
  gwr-components/src/source.rs
  gwr-components/src/store.rs
  gwr-components/src/test_helpers.rs
  gwr-components/tests/arbiter.rs
  gwr-components/tests/delay.rs
  gwr-components/tests/queue.rs
  gwr-components/tests/router.rs
  gwr-components/tests/store.rs
  gwr-models/benches/ethernet_frame.rs
  gwr-models/src/ethernet_link.rs
  gwr-models/src/fabric/functional.rs
  gwr-models/src/fabric/node.rs
  gwr-models/src/fabric/routed.rs
  gwr-models/src/fc_pipeline.rs
  gwr-models/src/memory/memory_access_gen/mod.rs
  gwr-models/src/ring_node.rs
  gwr-models/tests/cache.rs
  gwr-models/tests/fabric.rs
  gwr-models/tests/fc_pipeline.rs
  gwr-models/tests/ring_node.rs
  gwr-models/tests/traffic_gen_random.rs
  gwr-models/tests/traffic_gen_strided.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-engine): Require mutable references to ports to ensure no sharing
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-component/src/lib.rs
  examples/flaky-with-delay/Cargo.toml
  examples/flaky-with-delay/src/lib.rs
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-restaurant/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-components/src/arbiter/mod.rs
  gwr-components/src/delay.rs
  gwr-components/src/flow_controls/credit_issuer.rs
  gwr-components/src/flow_controls/credit_limiter.rs
  gwr-components/src/flow_controls/limiter.rs
  gwr-components/src/queue.rs
  gwr-components/src/router.rs
  gwr-components/src/sink.rs
  gwr-components/src/source.rs
  gwr-components/src/store.rs
  gwr-components/src/test_helpers.rs
  gwr-components/tests/arbiter.rs
  gwr-components/tests/delay.rs
  gwr-engine/Cargo.toml
  gwr-engine/src/port/mod.rs
  gwr-engine/tests/errors.rs
  gwr-engine/tests/ports.rs
  gwr-models/Cargo.toml
  gwr-models/src/fabric/functional.rs
  gwr-models/src/memory/cache.rs
  gwr-models/src/memory/memory_access_gen/mod.rs
  gwr-models/src/memory/mod.rs
  gwr-models/src/processing_element/load_store_unit.rs
  gwr-models/tests/memory.rs
  gwr-platform/Cargo.toml
  gwr-protocols/Cargo.toml
  gwr-resources/Cargo.toml
  gwr-timetable/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-terminus): Fix arg parsing and remove color-eyre
  .gitignore
  Cargo.lock
  gwr-terminus/Cargo.toml
  gwr-terminus/src/bin/terminus.rs
  gwr-terminus/src/lib.rs
  gwr-terminus/src/recipe/mod.rs
  gwr-terminus/src/tui.rs
  gwr-timetable/recipes/timetable_to_svg.yaml
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png|
  .*\.json
)

  lychee-check-links: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-gwr-dev: any of: \.rs$
