Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

check-copyright:
  name: check copyright
  description: check copyright notice is valid
  language: system
  entry: cargo run --bin check-copyright
  require_serial: true
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

lychee-check-links:
  name: check links
  description: check validity of links in Markdown and HTML
  language: system
  entry: lychee .
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-markdown:
  name: prettier markdown
  description: check formatting of Markdown files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-yaml:
  name: prettier yaml
  description: check formatting of YAML files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-deny:
  name: cargo deny
  description: check Rust dependencies licenses and for vulnerabilities
  language: system
  entry: cargo deny check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-about:
  name: cargo about
  description: Document licenses of Rust dependencies
  language: system
  entry: cargo about generate --locked --workspace --all-features --fail --config about.toml --output-file licenses.html about.hbs
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-nightly-fmt:
  name: cargo +nightly fmt
  description: format files with "cargo fmt" from the nightly toolchain
  language: system
  entry: cargo +nightly fmt --
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-check:
  name: cargo check
  description: check for package errors with cargo check
  language: system
  entry: cargo check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-clippy-strict:
  name: cargo clippy-strict
  description: lint Rust source code
  language: system
  entry: env RUSTFLAGS="-D warnings" cargo clippy-strict
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-doc-gwr-dev:
  name: cargo doc-gwr-dev
  description: check Rust source code documentation
  language: system
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc-gwr-dev
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

fix(gwr-spotter): maintain whitespace in search
  gwr-spotter/src/filter.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra: remove caching of cargo-semver-checks results under CI
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

refactor: place doc comment above attribute
  gwr-components/src/connect.rs
  gwr-doc-builder/src/asciidoctor_pp.rs
  gwr-engine/src/lib.rs
  gwr-engine/src/time/clock.rs
  gwr-engine/src/types.rs
  gwr-models/src/fabric/mod.rs
  gwr-models/src/fabric/node.rs
  gwr-models/src/processing_element/operators/dtype.rs
  gwr-models/src/registers/register.rs
  gwr-models/src/registers/state.rs
  gwr-models/tests/cache.rs
  gwr-models/tests/traffic_gen_random.rs
  gwr-models/tests/traffic_gen_strided.rs
  gwr-protocols/src/packet.rs
  gwr-spotter/src/lib.rs
  gwr-spotter/src/main.rs
  gwr-terminus/src/bin/terminus.rs
  gwr-track/src/test_helpers.rs
  gwr-track/src/tracker/aka.rs
  gwr-track/src/tracker/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models): remove unnecessary dead code attribute
  gwr-models/src/registers/regfile.rs
  gwr-models/src/registers/register.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

docs: Add overview image
  gwr-developer-guide/md_src/gwr_overview.png
Due: none

fix(gwr-models): remove unnecessary dead code attribute
  gwr-models/src/registers/regfile.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore(sim-restaurant): temporarily exclude from semver checks
  semver-checks.sh
Due: check-copyright

chore: add recipe to generate code coverage
  gwr-developer-guide/md_src/rust/commands.md
  gwr-terminus/recipes/coverage.yaml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml

feat(examples): add restaurant simulation and onboarding docs
  Cargo.lock
  Cargo.toml
  README.md
  examples/sim-fabric/recipes/explore_model.yaml
  examples/sim-fabric/recipes/explore_ticks_per_hop.yaml
  examples/sim-fabric/src/main.rs
  examples/sim-restaurant/Cargo.toml
  examples/sim-restaurant/src/bin/sim-restaurant-tui.rs
  examples/sim-restaurant/src/bin/sim-restaurant.rs
  examples/sim-restaurant/src/config.rs
  examples/sim-restaurant/src/customer.rs
  examples/sim-restaurant/src/lib.rs
  examples/sim-restaurant/src/menu.rs
  examples/sim-restaurant/src/recording.rs
  examples/sim-restaurant/src/sim.rs
  examples/sim-restaurant/src/staff.rs
  examples/sim-restaurant/src/time_of_day.rs
  examples/sim-restaurant/src/tui/app.rs
  examples/sim-restaurant/src/tui/event.rs
  examples/sim-restaurant/src/tui/mod.rs
  examples/sim-restaurant/src/tui/terminal.rs
  examples/sim-restaurant/src/tui/ui.rs
  examples/sim-ring/recipes/explore_ring_priorities.yaml
  gwr-developer-guide/md_src/SUMMARY.md
  gwr-developer-guide/md_src/applications/examples.md
  gwr-developer-guide/md_src/applications/restaurant.md
  gwr-developer-guide/md_src/components/add_subcomponents.md
  gwr-developer-guide/md_src/components/custom_functionality.md
  gwr-developer-guide/md_src/concepts/chapter.md
  gwr-developer-guide/md_src/contributing/chapter.md
  gwr-developer-guide/md_src/contributing/setup.md
  gwr-developer-guide/md_src/contributing/workspace.md
  gwr-developer-guide/md_src/getting_started.md
  gwr-engine/src/lib.rs
  gwr-timetable/src/lib.rs
  gwr-timetable/src/main.rs
  licenses.html
  release-plz.toml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor: use .. for enum matching
  gwr-models/src/processing_element/mod.rs
  gwr-platform/src/connect.rs
  gwr-spotter/src/app/mod.rs
  gwr-spotter/src/filter.rs
  gwr-spotter/src/renderer.rs
  gwr-timetable/src/lib.rs
  gwr-timetable/src/mermaid.rs
  gwr-track/src/tracker/in_memory.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models): off-by-one error in memory end address
  gwr-models/src/memory/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-timetable): improve naming
  gwr-timetable/src/main.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

Revert "chore(sim-restaurant): temporarily exclude from semver checks"
  semver-checks.sh
Due: check-copyright

chore(gwr-onnx-sys,gwr-onnx): temporarily exclude from semver checks
  semver-checks.sh
Due: check-copyright

feat(gwr-onnx-sys): provide access to ONNX source via git submodule
  .gitmodules
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  gwr-onnx-sys/Cargo.toml
  gwr-onnx-sys/LICENSE
  gwr-onnx-sys/README.md
  gwr-onnx-sys/build.rs
  gwr-onnx-sys/src/lib.rs
  gwr-onnx-sys/src/submodule_path.rs
  licenses.html
  lychee.toml
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-onnx): provide access to ONNX IR types
  Cargo.lock
  Cargo.toml
  gwr-onnx/Cargo.toml
  gwr-onnx/LICENSE
  gwr-onnx/README.md
  gwr-onnx/build.rs
  gwr-onnx/src/lib.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore(gwr-track): Remove unused trace_checker.rs
  gwr-track/examples/trace_checker.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore(gwr-track): Remove unused in_memory tracker
  gwr-track/src/tracker/in_memory.rs
  gwr-track/src/tracker/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra: remove dependency on build-deps cache from dev-deps installer
  .github/actions/install-dev-dependencies/action.yaml
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

infra: remove warm-dev-deps-cache job
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

fix(gwr-spotter): ensure filtering restarts correctly
  gwr-spotter/src/filter.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png|
  .*\.json
)

  lychee-check-links: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-gwr-dev: any of: \.rs$
