Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/Software-GCAI/precommit-scripts
    rev: v1.1.1
    hooks:
      - id: gc-copyright
  - repo: local
    hooks:
      - id: prettier-markdown
        name: prettier markdown
        description: check formatting of Markdown files
        language: system
        types: [markdown]
        entry: prettier --write
      - id: cargo-deny
        name: cargo deny
        description: check Rust dependencies licenses and for vulnerabilities
        language: system
        types: [rust]
        entry: cargo deny check
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-nightly-fmt
        name: cargo +nightly fmt
        description: format files with "cargo fmt" from the nightly toolchain
        language: system
        types: [rust]
        entry: cargo +nightly fmt
        args: [--]
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-check
        name: cargo check
        description: check for package errors with cargo check
        language: system
        types: [rust]
        entry: cargo check
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-clippy
        name: cargo clippy
        description: lint Rust source code
        language: system
        types: [rust]
        entry: cargo clippy
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-semver-checks
        name: cargo semver-checks
        description: lint crate API changes for semver violations
        language: system
        types: [rust]
        entry: cargo semver-checks
        args: [--baseline-rev, HEAD]
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cog-verify
        name: cog verify
        description: check commit message is in Conventional Commit form
        language: system
        entry: cog verify --file
        stages: [commit-msg]
      - id: git-cliff
        name: git cliff
        description: ensure changelog is up to date before pushing to remote
        language: system
        entry: cargo run --bin git-cliff-wrapper
        always_run: true
        stages: [post-commit]
default_install_hook_types:
  [pre-commit, pre-merge-commit, commit-msg, post-commit, pre-push]

fix(steam-track): clippy warnings introduced by Rust 1.88.0
  steam-track/src/lib.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

infra: lock build and development tool versions
  .github/actions/install-build-dependencies/install.sh
  .github/actions/install-dev-dependencies/install.sh
  rust-toolchain.toml
Due: none

infra: update Prettier to 3.6.2
  .github/actions/install-dev-dependencies/install.sh
  README.md
Due: prettier-markdown

infra: update stable Rust toolchain to 1.88.0
  rust-toolchain.toml
  steam-track/src/lib.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

feat(steam-spotter): add rocket server and d3.js frontend
  .pre-commit-config.yaml
  Cargo.lock
  about.toml
  deny.toml
  examples/sim-ring/src/ring_builder.rs
  licenses.html
  steam-spotter/Cargo.toml
  steam-spotter/frontend/README.md
  steam-spotter/frontend/index.html
  steam-spotter/frontend/lib/d3.v7.min.js
  steam-spotter/frontend/lib/force_tree.js
  steam-spotter/frontend/lib/jquery-3.4.1.js
  steam-spotter/frontend/lib/radial_tidy_tree.js
  steam-spotter/frontend/lib/sunburst.js
  steam-spotter/frontend/lib/tree_map.js
  steam-spotter/frontend/main.js
  steam-spotter/frontend/style.css
  steam-spotter/src/app.rs
  steam-spotter/src/bin_loader.rs
  steam-spotter/src/filter.rs
  steam-spotter/src/lib.rs
  steam-spotter/src/main.rs
  steam-spotter/src/rocket.rs
  steam-track/src/tag.rs
Due: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

infra: restrict linting to changes from origin/main
  .github/workflows/ci.yaml
Due: none

infra: use origin/main as the baseline for semver checks
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

feat(steam-spotter): fix the support for connect events
  Cargo.lock
  licenses.html
  steam-spotter/Cargo.toml
  steam-spotter/src/app.rs
  steam-spotter/src/bin_loader.rs
  steam-spotter/src/filter.rs
  steam-spotter/src/log_parser.rs
  steam-spotter/src/renderer.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

docs: switch diagrams to text blocks
  examples/sim-ring/src/main.rs
  steam-models/src/ring_node.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

fix: Rocket docs build failure with `DOCS_RS` set
  .pre-commit-config.yaml
  steam-developer-guide/md_src/docs/api.md
  steam-perfetto-sys/build.rs
Due: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

infra: capture log of rustdoc build process
  .github/workflows/online-documentation.yaml
  steam-developer-guide/.gitignore
  steam-developer-guide/md_src/docs/api.md
Due: prettier-markdown

infra: remove the need to run mdbook twice
  .github/workflows/online-documentation.yaml
  steam-developer-guide/md_src/docs/api.md
Due: prettier-markdown

feat(steam-models): add generic cache model and tests
  Cargo.lock
  licenses.html
  steam-components/src/arbiter.rs
  steam-components/src/delay.rs
  steam-components/src/router.rs
  steam-components/src/types.rs
  steam-components/tests/delay.rs
  steam-components/tests/rate_limiter.rs
  steam-engine/Cargo.toml
  steam-engine/src/traits.rs
  steam-engine/src/types.rs
  steam-models/Cargo.toml
  steam-models/src/cache.rs
  steam-models/src/ethernet_frame.rs
  steam-models/src/lib.rs
  steam-models/src/memory.rs
  steam-models/src/memory_access.rs
  steam-models/src/test_helpers.rs
  steam-models/tests/cache.rs
  steam-models/tests/memory.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

chore: cargo update
  Cargo.lock
  licenses.html
Due: none

infra: update stable Rust toolchain to 1.89.0
  rust-toolchain.toml
  steam-components/tests/fail/source_sink.stderr
Due: none

infra: update dev dependencies
  .github/actions/install-dev-dependencies/install.sh
Due: none

infra: update build dependencies
  .github/actions/install-build-dependencies/install.sh
Due: none

refactor(steam-track): adopt cargo::KEY=VALUE syntax
  steam-track/build.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks
