Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

check-copyright:
  name: check copyright
  description: check copyright notice is valid
  language: system
  entry: cargo run --bin check-copyright
  require_serial: true
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

lychee-check-links:
  name: check links
  description: check validity of links in Markdown and HTML
  language: system
  entry: lychee .
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-markdown:
  name: prettier markdown
  description: check formatting of Markdown files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-yaml:
  name: prettier yaml
  description: check formatting of YAML files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-deny:
  name: cargo deny
  description: check Rust dependencies licenses and for vulnerabilities
  language: system
  entry: cargo deny check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-about:
  name: cargo about
  description: Document licenses of Rust dependencies
  language: system
  entry: cargo about generate --locked --workspace --all-features --fail --config about.toml --output-file licenses.html about.hbs
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-nightly-fmt:
  name: cargo +nightly fmt
  description: format files with "cargo fmt" from the nightly toolchain
  language: system
  entry: cargo +nightly fmt --
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-check:
  name: cargo check
  description: check for package errors with cargo check
  language: system
  entry: cargo check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-clippy-strict:
  name: cargo clippy-strict
  description: lint Rust source code
  language: system
  entry: env RUSTFLAGS="-D warnings" cargo clippy-strict
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-doc-gwr-dev:
  name: cargo doc-gwr-dev
  description: check Rust source code documentation
  language: system
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc-gwr-dev
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

infra: persist lychee cache in CI
  .github/workflows/ci.yaml
  lychee.toml
Due: check-copyright, prettier-yaml, cargo-deny, cargo-about, cargo-check

chore: fix typos
  gwr-platform/examples/platform_4x4.yaml
  gwr-platform/examples/platform_4x4_4xhbm.yaml
  gwr-timetable/tests/errors.rs
Due: check-copyright, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-timetable,gwr-models): allow inputs of differing sizes
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/task.rs
  gwr-timetable/src/lib.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models): off-by-one error in memory end address
  gwr-models/src/memory/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-timetable): add progress bar support
  Cargo.lock
  gwr-timetable/Cargo.toml
  gwr-timetable/src/lib.rs
  gwr-timetable/src/main.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-timetable,gwr-platform,gwr-models): add scripts to convert ONNX models to gwr-timetable YAML
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/task.rs
  gwr-timetable/examples/graph.yaml
  gwr-timetable/examples/large_graph.yaml
  gwr-timetable/scripts/onnx-to-gwr-timetable-yaml.py
  gwr-timetable/scripts/requirements.txt
  gwr-timetable/src/lib.rs
  gwr-timetable/src/types.rs
Due: check-copyright, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore: bump version numbers
  Cargo.lock
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-models/Cargo.toml
  gwr-platform/Cargo.toml
  gwr-timetable/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-check

infra: update cargo-semver-checks
  .github/actions/install-dev-dependencies/install.sh
Due: check-copyright

infra: update stable Rust toolchain to 1.94.0
  rust-toolchain.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

infra: include test and bench targets when linting
  .cargo/config.toml
  .pre-commit-config.yaml
  gwr-components/tests/arbiter.rs
  gwr-components/tests/delay.rs
  gwr-components/tests/router.rs
  gwr-components/tests/store.rs
  gwr-config/examples/alt_and_runtime_conf_files.rs
  gwr-config/examples/alt_conf_file.rs
  gwr-config/examples/alt_conf_file_missing.rs
  gwr-config/examples/full_conf_file.rs
  gwr-config/examples/no_conf_file.rs
  gwr-config/examples/partial_conf_file.rs
  gwr-config/examples/runtime_conf_file.rs
  gwr-config/tests/parse_extra_conf_file.rs
  gwr-engine/tests/common/mod.rs
  gwr-engine/tests/events_repeated.rs
  gwr-engine/tests/ports.rs
  gwr-models/src/memory/cache.rs
  gwr-models/src/registers/mod.rs
  gwr-models/tests/cache.rs
  gwr-models/tests/ethernet_link.rs
  gwr-models/tests/fabric.rs
  gwr-models/tests/memory.rs
  gwr-models/tests/traffic_gen_random.rs
  gwr-models/tests/traffic_gen_strided.rs
  gwr-platform/tests/simple_platforms.rs
  gwr-resources/tests/resource.rs
  gwr-spotter/src/app/mod.rs
  gwr-spotter/src/app/tests.rs
  gwr-terminus/src/command.rs
  gwr-track/examples/trace_checker.rs
  gwr-track/tests/aka.rs
Due: check-copyright, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore: remove unused dev-dependency
  Cargo.lock
  gwr-engine/Cargo.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

chore: update to the latest version of criterion
  Cargo.lock
  Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-check

test(gwr-components,gwr-models): improve benchmark robustness to noise
  gwr-components/benches/benchmarks_main.rs
  gwr-components/benches/components.rs
  gwr-models/benches/ethernet_frame.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-components,gwr-models): name criterion benchmark entry points by function
  gwr-components/Cargo.toml
  gwr-components/benches/wall_clock_benchmarks.rs
  gwr-models/Cargo.toml
  gwr-models/benches/wall_clock_benchmarks.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-components,gwr-models): separate benchmark harness and simulation functions
  gwr-components/benches/components.rs
  gwr-components/benches/wall_clock_benchmarks.rs
  gwr-models/benches/ethernet_frame.rs
  gwr-models/benches/wall_clock_benchmarks.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra: build benchmarks without running them
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

chore: bump the workspace MSRV to match current toolchain
  Cargo.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

test(gwr-components,gwr-models): add one-shot benchmarks
  .github/actions/install-build-dependencies/install.sh
  .github/workflows/ci.yaml
  Cargo.lock
  Cargo.toml
  deny.toml
  gwr-components/Cargo.toml
  gwr-components/benches/one_shot_benchmarks.rs
  gwr-models/Cargo.toml
  gwr-models/benches/one_shot_benchmarks.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-engine): Task leak in executor
  gwr-engine/src/executor.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-engine): optimise vtable allocation
  gwr-engine/src/executor.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat: Add Tensor nodes to Timetable
  Cargo.lock
  examples/sim-fabric/Cargo.toml
  examples/sim-fabric/src/main.rs
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-engine/src/time/mod.rs
  gwr-models/Cargo.toml
  gwr-models/src/memory/mod.rs
  gwr-platform/Cargo.toml
  gwr-platform/examples/platform_4x4.yaml
  gwr-platform/examples/platform_4x4_4xhbm.yaml
  gwr-platform/src/lib.rs
  gwr-platform/src/types.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/examples/graph.yaml
  gwr-timetable/examples/small.yaml
  gwr-timetable/examples/tiny.yaml
  gwr-timetable/src/lib.rs
  gwr-timetable/src/main.rs
  gwr-timetable/src/timetable_file.rs
  gwr-timetable/src/types.rs
  gwr-timetable/tests/errors.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-engine): use mimalloc as the global allocator
  Cargo.lock
  gwr-engine/Cargo.toml
  gwr-engine/src/global_allocator.rs
  gwr-engine/src/lib.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra: enable `--show-diff-on-failure` to aid debug of lint job failures
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

chore: cargo update
  Cargo.lock
  licenses.html
Due: check-copyright, lychee-check-links

chore: upgrade to the latest GitHub Actions versions
  .github/actions/install-build-dependencies/action.yaml
  .github/actions/install-dev-dependencies/action.yaml
  .github/actions/run-build-command/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/online-documentation.yaml
Due: check-copyright, prettier-yaml

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png|
  .*\.json
)

  lychee-check-links: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-gwr-dev: any of: \.rs$
