Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png
)

  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-tramway-dev: any of: \.rs$

chore: temporarily disable semver checks for sim-pipe
  .pre-commit-config.yaml
Due: check-copyright, prettier-yaml

feat: add sim-pipe example application
  Cargo.lock
  Cargo.toml
  examples/flaky-component/src/lib.rs
  examples/sim-pipe/Cargo.toml
  examples/sim-pipe/LICENSE
  examples/sim-pipe/src/frame_gen.rs
  examples/sim-pipe/src/lib.rs
  examples/sim-pipe/src/main.rs
  examples/sim-ring/src/main.rs
  licenses.html
  tramway-models/src/data_frame.rs
  tramway-models/src/lib.rs
  tramway-track/src/lib.rs
  tramway-track/tests/smoke_macros.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

Revert "chore: temporarily disable semver checks for sim-pipe"
  .pre-commit-config.yaml
Due: check-copyright, prettier-yaml

Revert "chore: temporarily disable semver checks for sim-fabric"
  .pre-commit-config.yaml
Due: check-copyright, prettier-yaml

chore: temporarily disable semver checks ahead of package renaming
  .pre-commit-config.yaml
Due: check-copyright, prettier-yaml

chore: tidy up empty trailing comments
  examples/sim-fabric/src/frame_gen.rs
  examples/sim-fabric/src/lib.rs
  examples/sim-fabric/src/source_sink_builder.rs
  examples/sim-pipe/src/frame_gen.rs
  examples/sim-pipe/src/lib.rs
  examples/sim-ring/src/frame_gen.rs
  examples/sim-ring/src/lib.rs
  examples/sim-ring/src/ring_builder.rs
  gwr-track/src/builder.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

chore: include indicatif as a workspace dependency
  Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

Revert "chore: temporarily disable semver checks ahead of package renaming"
  .pre-commit-config.yaml
Due: check-copyright, prettier-yaml

docs: add clarifications and fix typos
  README.md
  gwr-developer-guide/md_src/components/chapter.md
  gwr-developer-guide/md_src/docs/api.md
  gwr-developer-guide/md_src/models/chapter.md
  gwr-developer-guide/md_src/protocols/chapter.md
  gwr-developer-guide/md_src/resources/chapter.md
  gwr-engine/src/lib.rs
Due: check-copyright, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

fix(gwr-models): remove unused register permission
  Cargo.lock
  gwr-models/Cargo.toml
  gwr-models/src/registers/mod.rs
  licenses.html
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

feat: add routed fabric and improve spotter frontend visualisations
  Cargo.lock
  examples/flaky-component/src/main.rs
  examples/flaky-with-delay/src/lib.rs
  examples/flaky-with-delay/src/main.rs
  examples/sim-fabric/Cargo.toml
  examples/sim-fabric/src/frame_gen.rs
  examples/sim-fabric/src/main.rs
  examples/sim-fabric/src/source_sink_builder.rs
  gwr-developer-guide/md_src/components/writing_a_component.md
  gwr-models/Cargo.toml
  gwr-models/src/data_frame.rs
  gwr-models/src/ethernet_frame.rs
  gwr-models/src/ethernet_link.rs
  gwr-models/src/fabric/functional.rs
  gwr-models/src/fabric/mod.rs
  gwr-models/src/fabric/node.rs
  gwr-models/src/fabric/routed.rs
  gwr-models/src/ring_node.rs
  gwr-models/tests/fabric.rs
  gwr-models/tests/fabric_node.rs
  gwr-spotter/frontend/lib/force_tree.js
  gwr-spotter/frontend/main.js
  gwr-spotter/src/renderer.rs
  licenses.html
Due: check-copyright, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

feat: move the phase parameter of a clock into a feature
  Cargo.lock
  gwr-engine/Cargo.toml
  gwr-engine/src/time/clock.rs
  licenses.html
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

docs: extending and cleaning up documentation
  README.md
  examples/flaky-component/src/lib.rs
  examples/flaky-with-delay/src/lib.rs
  examples/scrambler/src/lib.rs
  examples/scrambler/src/main.rs
  examples/sim-fabric/src/lib.rs
  examples/sim-fabric/src/main.rs
  examples/sim-pipe/src/lib.rs
  examples/sim-pipe/src/main.rs
  examples/sim-ring/src/lib.rs
  examples/sim-ring/src/main.rs
  gwr-developer-guide/md_src/SUMMARY.md
  gwr-developer-guide/md_src/applications/examples.md
  gwr-developer-guide/md_src/applications/writing_a_main.md
  gwr-developer-guide/md_src/components/gwr_components.md
  gwr-developer-guide/md_src/getting_started.md
  gwr-developer-guide/md_src/gwr_spotter/chapter.md
  gwr-developer-guide/md_src/models/chapter.md
  gwr-engine/src/lib.rs
Due: check-copyright, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

chore: add original ISC licence to D3 derived source
  gwr-spotter/frontend/lib/force_tree.js
  gwr-spotter/frontend/lib/radial_tidy_tree.js
  gwr-spotter/frontend/lib/sunburst.js
  gwr-spotter/frontend/lib/tree_map.js
Due: check-copyright

chore: fix spacing
  gwr-spotter/frontend/main.js
Due: check-copyright

docs: add code example to README
  README.md
  gwr-developer-guide/book.toml
Due: check-copyright, prettier-markdown, cargo-deny, cargo-about, cargo-check

feat: add port monitor
  examples/sim-fabric/src/main.rs
  gwr-engine/src/port/mod.rs
  gwr-engine/src/port/monitor.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

fix(gwr-track)!: name PerfettoTraceBuilder API consistently
  Cargo.lock
  gwr-spotter/src/perfetto.rs
  gwr-track/Cargo.toml
  gwr-track/src/perfetto_trace_builder.rs
  gwr-track/src/tracker/perfetto.rs
  licenses.html
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

fix(gwr-models)!: typo in struct name
  Cargo.lock
  examples/sim-fabric/src/main.rs
  gwr-models/Cargo.toml
  gwr-models/src/fabric/node.rs
  gwr-models/src/fabric/routed.rs
  gwr-models/tests/fabric.rs
  gwr-models/tests/fabric_node.rs
  licenses.html
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

docs: link to hosted logo
  README.md
Due: check-copyright, prettier-markdown
