Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

check-copyright:
  name: check copyright
  description: check copyright notice is valid
  language: system
  entry: cargo run --bin check-copyright
  require_serial: true
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

lychee-check-links:
  name: check links
  description: check validity of links in Markdown and HTML
  language: system
  entry: lychee .
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-markdown:
  name: prettier markdown
  description: check formatting of Markdown files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-yaml:
  name: prettier yaml
  description: check formatting of YAML files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-deny:
  name: cargo deny
  description: check Rust dependencies licenses and for vulnerabilities
  language: system
  entry: cargo deny check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-about:
  name: cargo about
  description: Document licenses of Rust dependencies
  language: system
  entry: cargo about generate --locked --workspace --all-features --fail --config about.toml --output-file licenses.html about.hbs
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-nightly-fmt:
  name: cargo +nightly fmt
  description: format files with "cargo fmt" from the nightly toolchain
  language: system
  entry: cargo +nightly fmt --
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-check:
  name: cargo check
  description: check for package errors with cargo check
  language: system
  entry: cargo check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-clippy-strict:
  name: cargo clippy-strict
  description: lint Rust source code
  language: system
  entry: env RUSTFLAGS="-D warnings" cargo clippy-strict
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-doc-gwr-dev:
  name: cargo doc-gwr-dev
  description: check Rust source code documentation
  language: system
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc-gwr-dev
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

chore: prevent Perfetto submodule appearing in vscode source control view
  .vscode/settings.json
Due: none

chore: prevent Perfetto submodule appearing in vscode search results
  .vscode/settings.json
Due: none

refactor: move from gen_fabric.py to gen-fabric.rs
  Cargo.lock
  examples/sim-fabric/src/frame_gen.rs
  gwr-models/src/fabric/node.rs
  gwr-models/src/memory/mod.rs
  gwr-models/src/processing_element/operators/dtype.rs
  gwr-platform/Cargo.toml
  gwr-platform/examples/platform.yaml
  gwr-platform/examples/platform_4x4.yaml
  gwr-platform/examples/platform_4x4_4xhbm.yaml
  gwr-platform/scripts/gen_fabric.py
  gwr-platform/src/bin/gen-fabric.rs
  gwr-platform/src/builder.rs
  gwr-platform/src/lib.rs
  gwr-platform/src/types.rs
  gwr-platform/src/yaml.rs
  gwr-platform/tests/errors.rs
  gwr-platform/tests/simple_platforms.rs
  gwr-terminus/src/recipe/mod.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/tests/errors.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat: Add FLOP counters/monitors to PEs
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-engine/Cargo.toml
  gwr-engine/src/port/monitor.rs
  gwr-models/Cargo.toml
  gwr-models/src/processing_element/flop_monitor.rs
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-models/src/processing_element/task.rs
  gwr-platform/Cargo.toml
  gwr-platform/src/lib.rs
  gwr-protocols/Cargo.toml
  gwr-resources/Cargo.toml
  gwr-terminus/recipes/run_timetable_monitors.yaml
  gwr-timetable/Cargo.toml
  gwr-timetable/src/lib.rs
  gwr-timetable/src/main.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

docs(gwr-perfetto-sys): improve crate description
  gwr-perfetto-sys/Cargo.toml
  gwr-perfetto-sys/src/lib.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-terminus): support multi-line commands and output
  Cargo.lock
  gwr-terminus/Cargo.toml
  gwr-terminus/src/bin/terminus.rs
  gwr-terminus/src/recipe/mod.rs
  gwr-terminus/src/runner/app.rs
  gwr-terminus/src/runner/handler.rs
  gwr-terminus/src/runner/ui.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor: add gwr-platform documentation that supports single source of truth
  Cargo.lock
  Cargo.toml
  gwr-build/Cargo.toml
  gwr-build/README.md
  gwr-build/src/lib.rs
  gwr-developer-guide/book.toml
  gwr-developer-guide/md_src/SUMMARY.md
  gwr-developer-guide/md_src/gwr_platform/chapter.md
  gwr-platform/Cargo.toml
  gwr-platform/README.md
  gwr-platform/build.rs
  gwr-platform/examples/simple_pe_cache_mem.yaml
  gwr-platform/recipes/validate_platforms.yaml
  gwr-platform/src/bin/validate-platform.rs
  gwr-platform/src/lib.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore(gwr-build): temporarily exclude from semver checks
  semver-checks.sh
Due: check-copyright

infra: update pull request branch naming convention
  .github/workflows/ci.yaml
  README.md
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml

Revert "chore(gwr-build): temporarily exclude from semver checks"
  semver-checks.sh
Due: check-copyright

fix(gwr-models): off-by-one error in memory end address
  gwr-models/src/memory/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-timetable): improve naming
  gwr-timetable/src/main.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-onnx-sys): provide access to ONNX source via git submodule
  .gitmodules
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  gwr-onnx-sys/Cargo.toml
  gwr-onnx-sys/LICENSE
  gwr-onnx-sys/README.md
  gwr-onnx-sys/build.rs
  gwr-onnx-sys/src/lib.rs
  gwr-onnx-sys/src/submodule_path.rs
  licenses.html
  lychee.toml
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore(gwr-onnx-sys): temporarily exclude from semver checks
  semver-checks.sh
Due: check-copyright

feat(gwr-timetable,gwr-platform,gwr-models): add scripts to convert ONNX models to gwr-timetable YAML
  gwr-timetable/scripts/onnx-to-gwr-timetable-yaml.py
  gwr-timetable/scripts/requirements.txt
Due: check-copyright

fix(gwr-tracker): typo in doc comment
  gwr-track/src/tracker/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor: create TrackerArgs struct so that all CLI programs can share it
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-fabric/src/main.rs
  examples/sim-pipe/Cargo.toml
  examples/sim-pipe/src/main.rs
  examples/sim-ring/Cargo.toml
  examples/sim-ring/src/main.rs
  gwr-components/Cargo.toml
  gwr-engine/Cargo.toml
  gwr-models/Cargo.toml
  gwr-platform/Cargo.toml
  gwr-protocols/Cargo.toml
  gwr-resources/Cargo.toml
  gwr-spotter/Cargo.toml
  gwr-timetable/Cargo.toml
  gwr-timetable/src/main.rs
  gwr-track/Cargo.toml
  gwr-track/src/builder.rs
  gwr-track/src/tracker/mod.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-engine): remove result from Repeated notify()
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-components/src/delay.rs
  gwr-components/src/store.rs
  gwr-engine/Cargo.toml
  gwr-engine/src/events/repeated.rs
  gwr-engine/tests/events_repeated.rs
  gwr-models/Cargo.toml
  gwr-models/src/fabric/functional.rs
  gwr-models/src/processing_element/load_store_unit.rs
  gwr-platform/Cargo.toml
  gwr-platform/tests/simple_platforms.rs
  gwr-protocols/Cargo.toml
  gwr-resources/Cargo.toml
  gwr-timetable/Cargo.toml
  gwr-timetable/src/lib.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor: use as_ref() in order to clean up clippy errors
  gwr-terminus/src/bin/terminus.rs
  gwr-timetable/src/lib.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(gwr-engine): check that updates from tasks within the same tick are resolved.
  gwr-engine/tests/clocks.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-engine): cope with dropped events and clock waits. Prevent duplicate poll
  Cargo.lock
  gwr-engine/Cargo.toml
  gwr-engine/README.md
  gwr-engine/src/engine.rs
  gwr-engine/src/events/mod.rs
  gwr-engine/src/events/once.rs
  gwr-engine/src/events/repeated.rs
  gwr-engine/src/events/waiting.rs
  gwr-engine/src/executor.rs
  gwr-engine/src/test_helpers.rs
  gwr-engine/src/time/clock.rs
  gwr-engine/src/time/simtime.rs
  gwr-engine/tests/clocks.rs
  gwr-engine/tests/common/mod.rs
  gwr-engine/tests/engine.rs
  gwr-engine/tests/events_all_of.rs
  gwr-engine/tests/events_any_of.rs
  gwr-engine/tests/events_once.rs
  gwr-engine/tests/events_repeated.rs
  gwr-engine/tests/ports.rs
  gwr-engine/tests/run_until.rs
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-components): Added Queue
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-components/src/lib.rs
  gwr-components/src/queue.rs
  gwr-components/tests/queue.rs
  gwr-engine/Cargo.toml
  gwr-models/Cargo.toml
  gwr-protocols/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-spotter): maintain whitespace in search
  gwr-spotter/src/filter.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png|
  .*\.json
)

  lychee-check-links: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-gwr-dev: any of: \.rs$
