Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png|
  .*\.json
)

  lychee-check-links: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-gwr-dev: any of: \.rs$

fix(gwr-platform): Update the config to reflect the fact that the buffers are now byte-sized
  Cargo.lock
  gwr-platform/Cargo.toml
  gwr-platform/src/bin/gen-fabric.rs
  gwr-platform/src/builder.rs
  gwr-platform/src/types.rs
  gwr-platform/src/yaml.rs
  gwr-timetable/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

perf(gwr-timetable): Optimise gwr-timetable ready_task_indices
  gwr-timetable/src/lib.rs
  gwr-timetable/tests/maxpool.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

perf(gwr-track): Avoid formatting disabled trace events
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-restaurant/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-engine/Cargo.toml
  gwr-models/Cargo.toml
  gwr-models/src/ethernet_frame.rs
  gwr-models/src/memory/memory_access.rs
  gwr-platform/Cargo.toml
  gwr-protocols/Cargo.toml
  gwr-protocols/src/packet.rs
  gwr-resources/Cargo.toml
  gwr-spotter/Cargo.toml
  gwr-timetable/Cargo.toml
  gwr-track/Cargo.toml
  gwr-track/src/entity.rs
  gwr-track/src/lib.rs
  gwr-track/src/test_helpers.rs
  gwr-track/src/tracker/capnp.rs
  gwr-track/src/tracker/dev_null.rs
  gwr-track/src/tracker/mod.rs
  gwr-track/src/tracker/multi_tracker.rs
  gwr-track/src/tracker/perfetto.rs
  gwr-track/src/tracker/text.rs
  gwr-track/tests/smoke_macros.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-models): Add totals to the stats dumping and operations to timetable summary
  Cargo.lock
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-models/Cargo.toml
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-models/src/processing_element/task.rs
  gwr-platform/Cargo.toml
  gwr-platform/src/lib.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/src/lib.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-timetable): add roofline-timetable application for roofline performance analysis
  Cargo.lock
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-models/Cargo.toml
  gwr-models/src/fabric/functional.rs
  gwr-models/src/fabric/mod.rs
  gwr-models/src/fabric/routed.rs
  gwr-models/src/memory/cache.rs
  gwr-models/src/memory/mod.rs
  gwr-models/src/processing_element/load_store_unit.rs
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-models/src/processing_element/task.rs
  gwr-platform/Cargo.toml
  gwr-platform/src/lib.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/src/analysis/memory.rs
  gwr-timetable/src/analysis/mod.rs
  gwr-timetable/src/analysis/pe.rs
  gwr-timetable/src/analysis/report.rs
  gwr-timetable/src/analysis/roofline.rs
  gwr-timetable/src/bin/roofline-timetable.rs
  gwr-timetable/src/lib.rs
  gwr-timetable/src/timetable_file.rs
  gwr-timetable/tests/errors.rs
  gwr-timetable/tests/roofline.rs
  gwr-timetable/tests/stats.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-models,gwr-platform): Add cache stats to dump-stats report and cleanup stats printing
  gwr-models/src/lib.rs
  gwr-models/src/memory/cache.rs
  gwr-models/src/memory/mod.rs
  gwr-models/src/processing_element/mod.rs
  gwr-platform/src/lib.rs
  gwr-timetable/examples/cache.yaml
  gwr-timetable/tests/dump_stats.rs
Due: check-copyright, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-platform,gwr-timetable): Reject unknown platform and timetable fields
  Cargo.lock
  gwr-platform/Cargo.toml
  gwr-platform/examples/platform.yaml
  gwr-platform/examples/platform_4x4.yaml
  gwr-platform/examples/platform_4x4_4xhbm.yaml
  gwr-platform/src/bin/gen-fabric.rs
  gwr-platform/src/builder.rs
  gwr-platform/src/types.rs
  gwr-platform/src/yaml.rs
  gwr-platform/tests/errors.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/src/timetable_file.rs
  gwr-timetable/tests/errors.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore: document usage assumptions in install-dev-dependencies action
  .github/actions/install-dev-dependencies/action.yaml
  .github/actions/install-dev-dependencies/install.sh
Due: check-copyright, prettier-yaml

infra(dependabot): add dependency update PR workflow
  .github/dependabot.yaml
  .github/gwr-bot/gwr-9400-bot-driver-sketch.png
  .github/gwr-bot/gwr-bot-logo.png
  .github/gwr-bot/gwr-bot-setup.md
  .github/workflows/ci.yaml
  .github/workflows/regenerate-licenses-on-dependabot.yaml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml

infra: separate install of license tools from rest of dev deps
  .github/actions/install-dev-dependencies/install.sh
  .github/actions/install-license-tools/action.yaml
  .github/actions/install-license-tools/install.sh
Due: check-copyright, prettier-yaml

feat(gwr-components): Add CapacityAllocator
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-restaurant/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-components/src/capacity_allocator.rs
  gwr-components/src/lib.rs
  gwr-components/src/store/byte_store.rs
  gwr-components/src/store/mod.rs
  gwr-components/src/store/object_store.rs
  gwr-components/tests/byte_store.rs
  gwr-components/tests/capacity_allocator.rs
  gwr-engine/Cargo.toml
  gwr-models/Cargo.toml
  gwr-protocols/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra(dependabot): alternative mechanism to determine git user
  .github/workflows/regenerate-licenses-on-dependabot.yaml
Due: check-copyright, prettier-yaml

infra(dependabot): avoid shallow clone to allow sound commit amends
  .github/workflows/regenerate-licenses-on-dependabot.yaml
Due: check-copyright, prettier-yaml

infra(dependabot): group github-actions updates
  .github/dependabot.yaml
Due: check-copyright, prettier-yaml

infra(dependabot): remove the PR limit
  .github/dependabot.yaml
Due: check-copyright, prettier-yaml

infra(dependabot): use a worktree friendly branch naming scheme
  .github/dependabot.yaml
  .github/gwr-bot/gwr-bot-setup.md
  .github/workflows/ci.yaml
  .github/workflows/regenerate-licenses-on-dependabot.yaml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml

infra(dependabot): use the existing labeling scheme
  .github/dependabot.yaml
Due: check-copyright, prettier-yaml

chore: hide diffs of licenses.html by default on GitHub
  .gitattributes
Due: check-copyright

refactor(gwr-engine,gwr-timetable,gwr-spotter): clippy suggestions
  gwr-engine/tests/ports.rs
  gwr-spotter/src/handler.rs
  gwr-timetable/src/lib.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra(dependabot): have gwr-bot improve the commit message GitHub Actions updates
  .github/workflows/trusted-amend-dependabot-github-actions-update.yaml
Due: check-copyright, prettier-yaml

infra(dependabot): correct the path
  .github/workflows/regenerate-licenses-on-dependabot.yaml
Due: check-copyright, prettier-yaml
