Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

check-copyright:
  name: check copyright
  description: check copyright notice is valid
  language: system
  entry: cargo run --bin check-copyright
  require_serial: true
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

lychee-check-links:
  name: check links
  description: check validity of links in Markdown and HTML
  language: system
  entry: lychee .
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-markdown:
  name: prettier markdown
  description: check formatting of Markdown files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-yaml:
  name: prettier yaml
  description: check formatting of YAML files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-deny:
  name: cargo deny
  description: check Rust dependencies licenses and for vulnerabilities
  language: system
  entry: cargo deny check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-about:
  name: cargo about
  description: Document licenses of Rust dependencies
  language: system
  entry: cargo about generate --locked --workspace --all-features --fail --config about.toml --output-file licenses.html about.hbs
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-nightly-fmt:
  name: cargo +nightly fmt
  description: format files with "cargo fmt" from the nightly toolchain
  language: system
  entry: cargo +nightly fmt --
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-check:
  name: cargo check
  description: check for package errors with cargo check
  language: system
  entry: cargo check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-clippy-strict:
  name: cargo clippy-strict
  description: lint Rust source code
  language: system
  entry: env RUSTFLAGS="-D warnings" cargo clippy-strict
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-doc-gwr-dev:
  name: cargo doc-gwr-dev
  description: check Rust source code documentation
  language: system
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc-gwr-dev
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

infra(dependabot): pass client ID to the trusted amend workflow
  .github/workflows/amend-dependabot-github-actions-update.yaml
Due: check-copyright, prettier-yaml

feat(gwr-models): Add state machine macro API helpers
  gwr-components/src/lib.rs
  gwr-components/src/state_machine.rs
  gwr-components/tests/fail/invalid_typestate_transition.rs
  gwr-components/tests/fail/invalid_typestate_transition.stderr
  gwr-components/tests/state_machine.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-doc-builder,gwr-docpp): improve macro error reporting
  Cargo.lock
  gwr-doc-builder/Cargo.toml
  gwr-doc-builder/src/helpers.rs
  gwr-doc-builder/src/toc.rs
  gwr-docpp/Cargo.toml
  gwr-docpp/src/cmd.rs
  gwr-docpp/src/include_str.rs
  gwr-docpp/src/section.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(gwr-doc-builder): exercise documentation generation
  Cargo.lock
  gwr-doc-builder/Cargo.toml
  gwr-doc-builder/src/doc_parser.rs
  gwr-doc-builder/tests/adoc_builder.rs
  gwr-doc-builder/tests/asciidoctor_pp.rs
  gwr-doc-builder/tests/common/mod.rs
  gwr-doc-builder/tests/doc_parser.rs
  gwr-doc-builder/tests/fixtures/expected.adoc
  gwr-docpp/Cargo.toml
  gwr-docpp/tests/fixtures/documentation.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra(dependabot): add flow to overwrite trybuild expected output
  .github/gwr-bot/gwr-bot-setup.md
  .github/workflows/ci.yaml
  .github/workflows/overwrite-trybuild-expected-on-dependabot.yaml
  gwr-components/tests/compile.rs
  gwr-components/tests/compile_fail.rs
  gwr-components/tests/ui/connect_port_rejects_unknown_sink_port.rs
  gwr-components/tests/ui/connect_port_rejects_unknown_sink_port.stderr
  gwr-components/tests/ui/create_state_machine_rejects_invalid_transition.rs
  gwr-components/tests/ui/create_state_machine_rejects_invalid_transition.stderr
  gwr-config/tests/compile_fail.rs
  gwr-config/tests/macro_properties.rs
  gwr-config/tests/macro_properties/unsupported.stderr
  gwr-config/tests/ui/multi_source_config_rejects_missing_equals.rs
  gwr-config/tests/ui/multi_source_config_rejects_missing_equals.stderr
  gwr-config/tests/ui/multi_source_config_rejects_missing_path.rs
  gwr-config/tests/ui/multi_source_config_rejects_missing_path.stderr
  gwr-config/tests/ui/multi_source_config_rejects_unsupported_property.rs
  gwr-config/tests/ui/multi_source_config_rejects_unsupported_property.stderr
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore: bump syn from 1.0.109 to 3.0.3
  Cargo.lock
  Cargo.toml
  gwr-config/Cargo.toml
  gwr-doc-builder/src/doc_parser.rs
  gwr-doc-builder/src/toc.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(engine): add run-until fuzz target
  .github/workflows/fuzz.yaml
  fuzz/.gitignore
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/engine_run_until.rs
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

Revert "test(engine): add run-until fuzz target"
  .github/workflows/fuzz.yaml
  fuzz/.gitignore
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/engine_run_until.rs
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-models): add custom compute op support
  Cargo.lock
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-models/Cargo.toml
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/custom.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-models/src/processing_element/task.rs
  gwr-platform/Cargo.toml
  gwr-timetable/Cargo.toml
  gwr-timetable/src/bin/gen-timetable.rs
  gwr-timetable/tests/custom_compute.rs
  gwr-timetable/tests/gen_timetable.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra: Add AGENTS.md
  AGENTS.md
Due: check-copyright, lychee-check-links, prettier-markdown

refactor(gwr-spotter): show creator for created events
  Cargo.lock
  gwr-spotter/Cargo.toml
  gwr-spotter/src/app/mod.rs
  gwr-spotter/src/bin_loader.rs
  gwr-spotter/src/filter.rs
  gwr-spotter/src/log_parser.rs
  gwr-spotter/src/renderer.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore: lint and format JavaScript
  .github/actions/install-dev-dependencies/install.sh
  .prettierignore
  README.md
  eslint.config.js
  gwr-spotter/frontend/README.md
  gwr-spotter/frontend/index.html
  gwr-spotter/frontend/lib/force_tree.js
  gwr-spotter/frontend/lib/helpers.js
  gwr-spotter/frontend/lib/radial_tidy_tree.js
  gwr-spotter/frontend/lib/sunburst.js
  gwr-spotter/frontend/lib/tree_map.js
  gwr-spotter/frontend/main.js
  prek.toml
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-check

test(gwr-models): extend test harness coverage
  gwr-models/src/ethernet_frame.rs
  gwr-models/tests/cache.rs
  gwr-models/tests/ethernet_link.rs
  gwr-models/tests/memory.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(gwr-models): preserve delayed traffic checks
  gwr-models/tests/cache.rs
  gwr-models/tests/ethernet_link.rs
  gwr-models/tests/memory.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-components): Add CapacityAllocator
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-restaurant/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-components/src/capacity_allocator.rs
  gwr-components/src/lib.rs
  gwr-components/src/store/byte_store.rs
  gwr-components/src/store/mod.rs
  gwr-components/src/store/object_store.rs
  gwr-components/tests/byte_store.rs
  gwr-components/tests/capacity_allocator.rs
  gwr-engine/Cargo.toml
  gwr-models/Cargo.toml
  gwr-platform/Cargo.toml
  gwr-protocols/Cargo.toml
  gwr-timetable/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-models,sim-restaurant): standardise simulation errors
  examples/sim-restaurant/src/bin/sim-restaurant.rs
  examples/sim-restaurant/src/config.rs
  gwr-models/src/processing_element/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models): preserve packed tensor byte ranges
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-timetable): preserve packed tensor byte ranges
  gwr-timetable/src/lib.rs
  gwr-timetable/src/timetable_file.rs
  gwr-timetable/tests/errors.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-timetable): derive scheduling dependencies from data edges
  gwr-timetable/src/lib.rs
  gwr-timetable/tests/errors.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-platform): support standalone platform validation
  gwr-platform/src/connect.rs
  gwr-platform/src/lib.rs
  gwr-platform/src/validation.rs
  gwr-platform/tests/errors.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix: correct RoutingAlgoritm to RoutingAlgorithm enum name
  gwr-models/src/fabric/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-timetable)!: support standalone timetable validation
  Cargo.lock
  gwr-timetable/Cargo.toml
  gwr-timetable/examples/tiny.yaml
  gwr-timetable/src/lib.rs
  gwr-timetable/src/timetable_file.rs
  gwr-timetable/src/types.rs
  gwr-timetable/src/validation.rs
  gwr-timetable/tests/errors.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-visualisation): add static timetable visualisation tool
  .gitignore
  Cargo.lock
  Cargo.toml
  gwr-visualisation/Cargo.toml
  gwr-visualisation/LICENSE
  gwr-visualisation/README.md
  gwr-visualisation/assets/app.js
  gwr-visualisation/assets/core.js
  gwr-visualisation/assets/filters.js
  gwr-visualisation/assets/index.html
  gwr-visualisation/assets/memory.js
  gwr-visualisation/assets/pe-grid.js
  gwr-visualisation/assets/relationships.js
  gwr-visualisation/assets/style.css
  gwr-visualisation/assets/tensors.js
  gwr-visualisation/assets/timetable.js
  gwr-visualisation/assets/view-model.js
  gwr-visualisation/assets/workspace.js
  gwr-visualisation/src/analysis/compute.rs
  gwr-visualisation/src/analysis/graph.rs
  gwr-visualisation/src/analysis/memory.rs
  gwr-visualisation/src/analysis/mod.rs
  gwr-visualisation/src/analysis/model.rs
  gwr-visualisation/src/analysis/platform.rs
  gwr-visualisation/src/analysis/tensors.rs
  gwr-visualisation/src/analysis/tests.rs
  gwr-visualisation/src/lib.rs
  gwr-visualisation/src/main.rs
  gwr-visualisation/tests/cli.rs
  gwr-visualisation/tests/view-model.test.mjs
  licenses.html
  prek.toml
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(fuzz): address review and CI feedback
  .github/workflows/fuzz.yaml
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml

chore(fuzz): simplify workspace configuration
  fuzz/Cargo.toml
  fuzz/README.md
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-check

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png|
  .*\.json
)

  lychee-check-links: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-gwr-dev: any of: \.rs$
