Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

check-copyright:
  name: check copyright
  description: check copyright notice is valid
  language: system
  entry: cargo run --bin check-copyright
  require_serial: true
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

lychee-check-links:
  name: check links
  description: check validity of links in Markdown and HTML
  language: system
  entry: lychee .
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-markdown:
  name: prettier markdown
  description: check formatting of Markdown files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-yaml:
  name: prettier yaml
  description: check formatting of YAML files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-deny:
  name: cargo deny
  description: check Rust dependencies licenses and for vulnerabilities
  language: system
  entry: cargo deny check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-about:
  name: cargo about
  description: Document licenses of Rust dependencies
  language: system
  entry: cargo about generate --locked --workspace --all-features --fail --config about.toml --output-file licenses.html about.hbs
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-nightly-fmt:
  name: cargo +nightly fmt
  description: format files with "cargo fmt" from the nightly toolchain
  language: system
  entry: cargo +nightly fmt --
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-check:
  name: cargo check
  description: check for package errors with cargo check
  language: system
  entry: cargo check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-clippy-strict:
  name: cargo clippy-strict
  description: lint Rust source code
  language: system
  entry: env RUSTFLAGS="-D warnings" cargo clippy-strict
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-doc-gwr-dev:
  name: cargo doc-gwr-dev
  description: check Rust source code documentation
  language: system
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc-gwr-dev
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

test(gwr-models): use tensor shape accessor
  gwr-models/src/processing_element/operators/add.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models,gwr-timetable): access strided tensor views exactly
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-timetable/src/lib.rs
  gwr-timetable/tests/dump_stats.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models): validate memory configuration
  gwr-models/src/memory/memory_map.rs
  gwr-models/src/memory/mod.rs
  gwr-models/tests/memory.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-platform): support standalone platform validation
  gwr-platform/src/connect.rs
  gwr-platform/src/lib.rs
  gwr-platform/src/validation.rs
  gwr-platform/tests/errors.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-timetable): derive scheduling dependencies from data edges
  gwr-timetable/src/lib.rs
  gwr-timetable/tests/errors.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-timetable)!: support standalone timetable validation
  Cargo.lock
  gwr-timetable/Cargo.toml
  gwr-timetable/examples/tiny.yaml
  gwr-timetable/src/lib.rs
  gwr-timetable/src/timetable_file.rs
  gwr-timetable/src/types.rs
  gwr-timetable/src/validation.rs
  gwr-timetable/tests/errors.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(gwr-visualisation): exercise WebAssembly reports in browsers
  .github/workflows/ci.yaml
  .prettierignore
  gwr-visualisation/README.md
  gwr-visualisation/benchmarks/benchmark.mjs
  gwr-visualisation/benchmarks/browser-test.mjs
  gwr-visualisation/benchmarks/legacy/assets/app.js
  gwr-visualisation/benchmarks/legacy/assets/benchmark-hooks.js
  gwr-visualisation/benchmarks/legacy/assets/core.js
  gwr-visualisation/benchmarks/legacy/assets/filters.js
  gwr-visualisation/benchmarks/legacy/assets/memory.js
  gwr-visualisation/benchmarks/legacy/assets/pe-grid.js
  gwr-visualisation/benchmarks/legacy/assets/relationships.js
  gwr-visualisation/benchmarks/legacy/assets/tensors.js
  gwr-visualisation/benchmarks/legacy/assets/timetable.js
  gwr-visualisation/benchmarks/legacy/assets/view-model.js
  gwr-visualisation/benchmarks/legacy/assets/workspace.js
  gwr-visualisation/benchmarks/lib/adapters.mjs
  gwr-visualisation/benchmarks/lib/config.mjs
  gwr-visualisation/benchmarks/lib/reports.mjs
  gwr-visualisation/benchmarks/lib/results.mjs
  gwr-visualisation/benchmarks/lib/scenarios.mjs
  gwr-visualisation/benchmarks/package-lock.json
  gwr-visualisation/benchmarks/package.json
  gwr-visualisation/benchmarks/parity.mjs
  gwr-visualisation/benchmarks/tests/results.test.mjs
  gwr-visualisation/tests/view-model.test.mjs
  prek.toml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-check

feat(gwr-visualisation): add static timetable visualisation tool
  .gitignore
  Cargo.lock
  Cargo.toml
  gwr-visualisation/Cargo.toml
  gwr-visualisation/LICENSE
  gwr-visualisation/README.md
  gwr-visualisation/assets/app.js
  gwr-visualisation/assets/core.js
  gwr-visualisation/assets/filters.js
  gwr-visualisation/assets/index.html
  gwr-visualisation/assets/memory.js
  gwr-visualisation/assets/pe-grid.js
  gwr-visualisation/assets/relationships.js
  gwr-visualisation/assets/style.css
  gwr-visualisation/assets/tensors.js
  gwr-visualisation/assets/timetable.js
  gwr-visualisation/assets/view-model.js
  gwr-visualisation/assets/workspace.js
  gwr-visualisation/src/analysis/compute.rs
  gwr-visualisation/src/analysis/graph.rs
  gwr-visualisation/src/analysis/memory.rs
  gwr-visualisation/src/analysis/mod.rs
  gwr-visualisation/src/analysis/model.rs
  gwr-visualisation/src/analysis/platform.rs
  gwr-visualisation/src/analysis/tensors.rs
  gwr-visualisation/src/analysis/tests.rs
  gwr-visualisation/src/lib.rs
  gwr-visualisation/src/main.rs
  gwr-visualisation/tests/cli.rs
  gwr-visualisation/tests/view-model.test.mjs
  licenses.html
  prek.toml
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(gwr-visualisation): benchmark JavaScript reports
  .github/workflows/ci.yaml
  gwr-visualisation/README.md
  gwr-visualisation/assets/index.html
  gwr-visualisation/benchmarks/benchmark.mjs
  gwr-visualisation/benchmarks/legacy/assets/app.js
  gwr-visualisation/benchmarks/legacy/assets/benchmark-hooks.js
  gwr-visualisation/benchmarks/legacy/assets/core.js
  gwr-visualisation/benchmarks/legacy/assets/filters.js
  gwr-visualisation/benchmarks/legacy/assets/memory.js
  gwr-visualisation/benchmarks/legacy/assets/pe-grid.js
  gwr-visualisation/benchmarks/legacy/assets/relationships.js
  gwr-visualisation/benchmarks/legacy/assets/tensors.js
  gwr-visualisation/benchmarks/legacy/assets/timetable.js
  gwr-visualisation/benchmarks/legacy/assets/view-model.js
  gwr-visualisation/benchmarks/legacy/assets/workspace.js
  gwr-visualisation/benchmarks/lib/adapters.mjs
  gwr-visualisation/benchmarks/lib/config.mjs
  gwr-visualisation/benchmarks/lib/reports.mjs
  gwr-visualisation/benchmarks/lib/results.mjs
  gwr-visualisation/benchmarks/lib/scenarios.mjs
  gwr-visualisation/benchmarks/package-lock.json
  gwr-visualisation/benchmarks/package.json
  gwr-visualisation/src/lib.rs
  gwr-visualisation/tests/cli.rs
  gwr-visualisation/tests/view-model.test.mjs
  prek.toml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra: restrict push CI to feature branches
  .github/workflows/ci.yaml
  README.md
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml

infra: skip workflows for draft pull requests
  .github/workflows/ci.yaml
  README.md
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml

infra: cancel superseded pull request CI runs
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

infra: align Dependabot pull request triggers
  .github/workflows/amend-dependabot-github-actions-update.yaml
Due: check-copyright, prettier-yaml

fix(gwr-models)!: validate tensor construction
  Cargo.lock
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-models/Cargo.toml
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-platform/Cargo.toml
  gwr-platform/tests/simple_platforms.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/src/bin/gen-timetable.rs
  gwr-timetable/src/lib.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models,gwr-timetable)!: describe tensor-view layouts
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-models/src/processing_element/operators/partition.rs
  gwr-models/src/processing_element/operators/tensor.rs
  gwr-models/src/processing_element/operators/tensor_view.rs
  gwr-timetable/src/bin/gen-timetable.rs
  gwr-timetable/src/lib.rs
  gwr-timetable/tests/custom_compute.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models,gwr-timetable): transfer tensor views exactly
  gwr-models/src/processing_element/load_store_unit.rs
  gwr-models/src/processing_element/mod.rs
  gwr-timetable/src/lib.rs
  gwr-timetable/tests/dump_stats.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-models)!: expose operations through ComputeOp
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/custom.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-models/src/processing_element/task.rs
  gwr-timetable/src/bin/gen-timetable.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor!: use ticks to describe simulated time
  Cargo.lock
  examples/sim-pipe/src/lib.rs
  examples/sim-pipe/src/main.rs
  gwr-engine/src/time/clock.rs
  gwr-engine/src/time/simtime.rs
  gwr-models/src/fabric/functional.rs
  gwr-models/src/fabric/mod.rs
  gwr-models/src/fabric/routed.rs
  gwr-models/src/memory/cache.rs
  gwr-models/src/memory/mod.rs
  gwr-models/src/processing_element/load_store_unit.rs
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/custom.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/tests/cache.rs
  gwr-models/tests/fabric.rs
  gwr-models/tests/fabric_node.rs
  gwr-models/tests/fc_pipeline.rs
  gwr-models/tests/memory.rs
  gwr-models/tests/traffic_gen_random.rs
  gwr-models/tests/traffic_gen_strided.rs
  gwr-platform/Cargo.toml
  gwr-platform/README.md
  gwr-platform/examples/platform.yaml
  gwr-platform/examples/simple_pe_cache_mem.yaml
  gwr-platform/src/bin/gen-fabric.rs
  gwr-platform/src/builder.rs
  gwr-platform/src/types.rs
  gwr-platform/src/yaml.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/tests/custom_compute.rs
  gwr-timetable/tests/operator_activity.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models): refine compute partitions to fit SRAM
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/custom.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-models/src/processing_element/operators/partition.rs
  gwr-models/src/processing_element/task.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models)!: check operator arithmetic
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/custom.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-models/src/processing_element/operators/tensor.rs
  gwr-models/src/processing_element/task.rs
  gwr-platform/src/lib.rs
  gwr-timetable/src/lib.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-timetable)!: reject unordered tensor accesses
  gwr-timetable/src/graph.rs
  gwr-timetable/src/graph/accesses.rs
  gwr-timetable/tests/errors.rs
  gwr-timetable/tests/validation/access_conflicts.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-timetable)!: build validated timetable graphs
  Cargo.lock
  gwr-platform/src/lib.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/examples/tiny.yaml
  gwr-timetable/src/bin/gen-timetable.rs
  gwr-timetable/src/bin/timetable-to-mermaid.rs
  gwr-timetable/src/graph.rs
  gwr-timetable/src/lib.rs
  gwr-timetable/src/main.rs
  gwr-timetable/src/mermaid.rs
  gwr-timetable/src/timetable_file.rs
  gwr-timetable/src/types.rs
  gwr-timetable/tests/custom_compute.rs
  gwr-timetable/tests/errors.rs
  gwr-timetable/tests/gen_timetable.rs
  gwr-timetable/tests/graph.rs
  gwr-timetable/tests/maxpool.rs
  gwr-timetable/tests/operator_activity.rs
  gwr-timetable/tests/validation/common.rs
  gwr-timetable/tests/validation/operators.rs
  gwr-timetable/tests/validation/scheduling.rs
  gwr-timetable/tests/validation/structure.rs
  gwr-timetable/tests/validation/views.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-timetable): derive scheduling dependencies from data edges
  gwr-timetable/src/lib.rs
  gwr-timetable/src/timetable_file.rs
  gwr-timetable/tests/errors.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-platform)!: support standalone platform validation
  gwr-platform/README.md
  gwr-platform/examples/platform.yaml
  gwr-platform/examples/platform_4x4.yaml
  gwr-platform/examples/platform_4x4_4xhbm.yaml
  gwr-platform/examples/simple_pe_cache_mem.yaml
  gwr-platform/src/bin/gen-fabric.rs
  gwr-platform/src/builder.rs
  gwr-platform/src/connect.rs
  gwr-platform/src/lib.rs
  gwr-platform/src/types.rs
  gwr-platform/src/validation.rs
  gwr-platform/src/yaml.rs
  gwr-platform/tests/errors.rs
  gwr-platform/tests/simple_platforms.rs
  gwr-platform/tests/validation/common.rs
  gwr-platform/tests/validation/connections.rs
  gwr-platform/tests/validation/memory_ranges.rs
  gwr-platform/tests/validation/model_configuration.rs
  gwr-platform/tests/validation/resources.rs
  gwr-timetable/tests/custom_compute.rs
  gwr-timetable/tests/errors.rs
  gwr-timetable/tests/gen_timetable.rs
  gwr-timetable/tests/maxpool.rs
  gwr-timetable/tests/operator_activity.rs
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models)!: validate model configuration
  examples/sim-fabric/src/main.rs
  examples/sim-fabric/src/source_sink_builder.rs
  gwr-models/src/fabric/functional.rs
  gwr-models/src/fabric/mod.rs
  gwr-models/src/fabric/routed.rs
  gwr-models/src/memory/cache.rs
  gwr-models/src/memory/memory_map.rs
  gwr-models/src/memory/mod.rs
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/tensor.rs
  gwr-models/tests/fabric.rs
  gwr-models/tests/fabric_node.rs
  gwr-models/tests/memory.rs
  gwr-platform/src/builder.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models): bound tensor-view overlap checks
  gwr-models/src/processing_element/operators/floor_sum.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-models/src/processing_element/operators/tensor_view.rs
  gwr-timetable/tests/validation/access_conflicts.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-timetable): generate valid timetable graphs
  gwr-timetable/src/bin/gen-timetable.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png|
  .*\.json
)

  lychee-check-links: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-gwr-dev: any of: \.rs$
