Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/Software-GCAI/precommit-scripts
    rev: v1.1.1
    hooks:
      - id: gc-copyright
  - repo: local
    hooks:
      - id: prettier-markdown
        name: prettier markdown
        description: check formatting of Markdown files
        language: system
        types: [markdown]
        entry: prettier --write
      - id: cargo-deny
        name: cargo deny
        description: check Rust dependencies licenses and for vulnerabilities
        language: system
        types: [rust]
        entry: cargo deny check
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-nightly-fmt
        name: cargo +nightly fmt
        description: format files with "cargo fmt" from the nightly toolchain
        language: system
        types: [rust]
        entry: cargo +nightly fmt
        args: [--]
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-check
        name: cargo check
        description: check for package errors with cargo check
        language: system
        types: [rust]
        entry: cargo check
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-clippy
        name: cargo clippy
        description: lint Rust source code
        language: system
        types: [rust]
        entry: cargo clippy
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-semver-checks
        name: cargo semver-checks
        description: lint crate API changes for semver violations
        language: system
        types: [rust]
        entry: cargo semver-checks
        args: [--baseline-rev, HEAD]
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cog-verify
        name: cog verify
        description: check commit message is in Conventional Commit form
        language: system
        entry: cog verify --file
        stages: [commit-msg]
      - id: git-cliff
        name: git cliff
        description: ensure changelog is up to date before pushing to remote
        language: system
        entry: cargo run --bin git-cliff-wrapper
        always_run: true
        stages: [post-commit]
default_install_hook_types:
  [pre-commit, pre-merge-commit, commit-msg, post-commit, pre-push]

chore: release v0.1.0
  examples/flaky-component/CHANGELOG.md
  examples/flaky-with-delay/CHANGELOG.md
  examples/scrambler/CHANGELOG.md
  git-cliff-wrapper/CHANGELOG.md
  steam-components/CHANGELOG.md
  steam-config/CHANGELOG.md
  steam-developer-guide/CHANGELOG.md
  steam-doc-builder/CHANGELOG.md
  steam-docpp/CHANGELOG.md
  steam-engine/CHANGELOG.md
  steam-model-builder/CHANGELOG.md
  steam-models/CHANGELOG.md
  steam-perfetto-sys/CHANGELOG.md
  steam-protocols/CHANGELOG.md
  steam-resources/CHANGELOG.md
  steam-spotter/CHANGELOG.md
  steam-track/CHANGELOG.md
Due: prettier-markdown

chore(git-cliff-wrapper): hook behaviour is stable
  CHANGELOG.md
  Cargo.lock
  git-cliff-wrapper/Cargo.toml
Due: prettier-markdown

chore(flaky-component,flaky-with-delay,scrambler): examples are stable
  CHANGELOG.md
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
Due: prettier-markdown

chore: release v0.1.0
  examples/flaky-component/CHANGELOG.md
  examples/flaky-with-delay/CHANGELOG.md
  examples/scrambler/CHANGELOG.md
  git-cliff-wrapper/CHANGELOG.md
  steam-perfetto-sys/CHANGELOG.md
Due: prettier-markdown

chore: release
  check-copyright/CHANGELOG.md
  examples/flaky-component/CHANGELOG.md
  examples/flaky-with-delay/CHANGELOG.md
  examples/scrambler/CHANGELOG.md
  steam-components/CHANGELOG.md
  steam-config/CHANGELOG.md
  steam-developer-guide/CHANGELOG.md
  steam-doc-builder/CHANGELOG.md
  steam-docpp/CHANGELOG.md
  steam-engine/CHANGELOG.md
  steam-model-builder/CHANGELOG.md
  steam-models/CHANGELOG.md
  steam-perfetto-sys/CHANGELOG.md
  steam-protocols/CHANGELOG.md
  steam-resources/CHANGELOG.md
  steam-spotter/CHANGELOG.md
  steam-track/CHANGELOG.md
Due: prettier-markdown

infra: remove use of pre-commit `args` for local hooks
  .pre-commit-config.yaml
Due: none

infra: align CHANGELOG template to `cog` defaults
  release-plz.toml
Due: none

docs: detail the use of cargo-about
  README.md
  steam-developer-guide/.gitignore
  steam-developer-guide/md_src/getting_started/setup.md
Due: prettier-markdown

infra: disable push CI workflow for `pr/` branches
  .github/workflows/ci.yaml
  README.md
Due: prettier-markdown

feat(steam-models): add benchmark of EthernetFrame vs Box::EthernetFrame
  Cargo.lock
  steam-components/benches/components.rs
  steam-models/Cargo.toml
  steam-models/benches/bench_models.rs
  steam-models/benches/ethernet_frame.rs
  steam-models/src/ethernet_frame.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

infra: only update CI build cache on pushes to `main` branch
  .github/workflows/ci.yaml
Due: none

infra: perform deterministic `cargo install` builds
  .github/actions/install-build-dependencies/install.sh
  .github/actions/install-dev-dependencies/install.sh
Due: none

infra: run cargo semver-checks seperately from other linting
  .github/actions/cached-build-access/action.yaml
  .github/actions/cached-semver-access/action.yaml
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  README.md
Due: prettier-markdown

infra: standardise style used across Github Actions YAML
  .github/actions/cached-build-access/action.yaml
  .github/actions/cached-semver-access/action.yaml
  .github/actions/install-build-dependencies/action.yaml
  .github/actions/install-dev-dependencies/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/online-documentation.yaml
  README.md
Due: prettier-markdown

feat(steam-track): simplify to remove concept of trace enable
  Cargo.lock
  licenses.html
  steam-components/src/connect.rs
  steam-engine/src/engine.rs
  steam-engine/src/test_helpers.rs
  steam-models/Cargo.toml
  steam-models/src/ethernet_frame.rs
  steam-track/Cargo.toml
  steam-track/examples/log_test.rs
  steam-track/src/entity.rs
  steam-track/src/lib.rs
  steam-track/src/test_helpers.rs
  steam-track/src/tracker/capnp.rs
  steam-track/src/tracker/dev_null.rs
  steam-track/src/tracker/in_memory.rs
  steam-track/src/tracker/mod.rs
  steam-track/src/tracker/multi_tracker.rs
  steam-track/src/tracker/text.rs
  steam-track/tests/smoke_macros.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

feat(steam-engine): add support for background tasks
  steam-developer-guide/md_src/steam_engine/time/clocks.md
  steam-engine/src/engine.rs
  steam-engine/src/executor.rs
  steam-engine/src/time/clock.rs
  steam-engine/src/time/simtime.rs
  steam-engine/tests/clocks.rs
Due: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

test(steam-config): remove use of escargot library
  Cargo.lock
  licenses.html
  steam-config/Cargo.toml
  steam-config/src/lib.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

fix(steam-developer-guide): check for panic when running mdBook tests
  steam-developer-guide/src/lib.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

fix(steam-developer-guide): don't specify rust edition
  steam-developer-guide/book.toml
Due: none

test(steam-config): serialise tests which share an executable
  Cargo.lock
  Cargo.toml
  steam-config/Cargo.toml
  steam-config/src/lib.rs
  steam-track/Cargo.toml
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks
