Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png
)

  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-tramway-dev: any of: \.rs$

infra: update typst
  .github/actions/install-build-dependencies/install.sh
Due: check-copyright

infra: update prettier
  .github/actions/install-dev-dependencies/install.sh
Due: check-copyright

infra: update cargo-semver-checks
  .github/actions/install-dev-dependencies/install.sh
Due: check-copyright

infra: update cocogitto
  .github/actions/install-dev-dependencies/install.sh
Due: check-copyright

infra: update release-plz
  .github/actions/install-dev-dependencies/install.sh
Due: check-copyright

infra: update mdbook
  .github/actions/install-build-dependencies/install.sh
Due: check-copyright

infra: update stable Rust toolchain to 1.93.0
  Cargo.toml
  gwr-components/src/arbiter/policy/priority_round_robin.rs
  gwr-config/tests/macro_properties/missing_path.stderr
  gwr-config/tests/macro_properties/name_only.stderr
  gwr-config/tests/macro_properties/unsupported.stderr
  gwr-doc-builder/src/doc_nodes.rs
  gwr-models/src/fabric/routed.rs
  gwr-spotter/src/filter.rs
  rust-toolchain.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

infra: update cargo-expand
  .github/actions/install-build-dependencies/install.sh
Due: check-copyright

infra: update cargo-binstall
  .github/actions/install-build-dependencies/install.sh
Due: check-copyright

infra: update cargo-about
  .github/actions/install-dev-dependencies/install.sh
Due: check-copyright

chore: cargo update
  Cargo.lock
  Cargo.toml
  gwr-config/Cargo.toml
  gwr-spotter/src/tui.rs
  gwr-terminus/src/tui.rs
  licenses.html
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

infra: update cargo-deny
  .github/actions/install-dev-dependencies/install.sh
Due: check-copyright

Revert "infra: update mdbook"
  .github/actions/install-build-dependencies/install.sh
Due: check-copyright

fix: explicitly check for successful exit in mdbook build test
  gwr-developer-guide/src/lib.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

fix: use correct stream name
  gwr-developer-guide/src/lib.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

infra: add pre-commit hook to verify links
  .github/actions/install-dev-dependencies/install.sh
  .gitignore
  .pre-commit-config.yaml
  README.md
  lychee.toml
Due: check-copyright, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-check

docs: add README for every package to published
  gwr-components/Cargo.toml
  gwr-components/README.md
  gwr-config/Cargo.toml
  gwr-config/README.md
  gwr-developer-guide/md_src/components/chapter.md
  gwr-developer-guide/md_src/gwr_engine/chapter.md
  gwr-developer-guide/md_src/gwr_spotter/chapter.md
  gwr-developer-guide/md_src/gwr_track/chapter.md
  gwr-developer-guide/md_src/models/chapter.md
  gwr-developer-guide/md_src/protocols/chapter.md
  gwr-developer-guide/md_src/resources/chapter.md
  gwr-doc-builder/Cargo.toml
  gwr-doc-builder/README.md
  gwr-docpp/Cargo.toml
  gwr-docpp/README.md
  gwr-engine/Cargo.toml
  gwr-engine/README.md
  gwr-model-builder/Cargo.toml
  gwr-model-builder/README.md
  gwr-models/Cargo.toml
  gwr-models/README.md
  gwr-perfetto-sys/Cargo.toml
  gwr-perfetto-sys/README.md
  gwr-perfetto/Cargo.toml
  gwr-perfetto/README.md
  gwr-protocols/Cargo.toml
  gwr-protocols/README.md
  gwr-resources/Cargo.toml
  gwr-resources/README.md
  gwr-spotter/Cargo.toml
  gwr-spotter/README.md
  gwr-terminus/Cargo.toml
  gwr-terminus/README.md
  gwr-track/Cargo.toml
  gwr-track/README.md
Due: check-copyright, prettier-markdown, cargo-deny, cargo-about, cargo-check

refactor: Update sim_error macro to support formatted strings
  gwr-components/src/delay.rs
  gwr-components/src/router.rs
  gwr-components/src/store.rs
  gwr-engine/src/port/mod.rs
  gwr-engine/src/types.rs
  gwr-models/src/fabric/functional.rs
  gwr-models/src/memory/cache.rs
  gwr-models/src/memory/memory_access_gen/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

chore: update bytes dependency
  Cargo.lock
  licenses.html
Due: check-copyright

refactor: Update sim_error macro to support formatted strings
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-components/tests/rate_limiter.rs
  gwr-engine/Cargo.toml
  gwr-engine/src/traits.rs
  gwr-engine/src/types.rs
  gwr-models/Cargo.toml
  gwr-models/src/memory/cache.rs
  gwr-models/src/memory/memory_access.rs
  gwr-models/src/memory/memory_access_gen/random.rs
  gwr-models/src/memory/memory_access_gen/strided.rs
  gwr-models/src/memory/mod.rs
  gwr-models/src/memory/traits.rs
  gwr-models/src/test_helpers.rs
  gwr-models/tests/cache.rs
  gwr-models/tests/memory.rs
  gwr-protocols/Cargo.toml
  gwr-resources/Cargo.toml
  licenses.html
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

feat: Add MemoryMap for handling address -> device translations
  Cargo.lock
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-models/Cargo.toml
  gwr-models/src/memory/memory_access.rs
  gwr-models/src/memory/memory_access_gen/random.rs
  gwr-models/src/memory/memory_access_gen/strided.rs
  gwr-models/src/memory/memory_map.rs
  gwr-models/src/memory/mod.rs
  gwr-models/src/test_helpers.rs
  gwr-models/tests/cache.rs
  gwr-models/tests/memory.rs
  gwr-models/tests/traffic_gen_random.rs
  gwr-models/tests/traffic_gen_strided.rs
  licenses.html
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

feat: Add gwr-timetable
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-models/src/fabric/functional.rs
  gwr-models/src/fabric/mod.rs
  gwr-models/src/fabric/node.rs
  gwr-models/src/fabric/routed.rs
  gwr-models/src/lib.rs
  gwr-models/src/memory/cache.rs
  gwr-models/src/memory/mod.rs
  gwr-models/src/processing_element/dispatch.rs
  gwr-models/src/processing_element/load_store_unit.rs
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/task.rs
  gwr-models/tests/cache.rs
  gwr-models/tests/memory.rs
  gwr-platform/Cargo.toml
  gwr-platform/LICENSE
  gwr-platform/examples/platform.yaml
  gwr-platform/examples/platform_4x4.yaml
  gwr-platform/examples/platform_4x4_4xhbm.yaml
  gwr-platform/scripts/gen_fabric.py
  gwr-platform/src/builder.rs
  gwr-platform/src/connect.rs
  gwr-platform/src/lib.rs
  gwr-platform/src/types.rs
  gwr-platform/tests/errors.rs
  gwr-platform/tests/simple_platforms.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/LICENSE
  gwr-timetable/examples/graph.yaml
  gwr-timetable/examples/large_graph.yaml
  gwr-timetable/src/lib.rs
  gwr-timetable/src/main.rs
  gwr-timetable/src/types.rs
  gwr-timetable/tests/errors.rs
  licenses.html
Due: check-copyright, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

infra: persist lychee cache in CI
  .github/workflows/ci.yaml
  lychee.toml
Due: check-copyright, prettier-yaml, cargo-deny, cargo-about, cargo-check

chore: remove semver exclusions
  .pre-commit-config.yaml
Due: check-copyright, prettier-yaml
