Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/Software-GCAI/precommit-scripts
    rev: v1.1.1
    hooks:
      - id: gc-copyright
  - repo: local
    hooks:
      - id: prettier-markdown
        name: prettier markdown
        description: check formatting of Markdown files
        language: system
        types: [markdown]
        entry: prettier --write
      - id: cargo-deny
        name: cargo deny
        description: check Rust dependencies licenses and for vulnerabilities
        language: system
        types: [rust]
        entry: cargo deny check
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-nightly-fmt
        name: cargo +nightly fmt
        description: format files with "cargo fmt" from the nightly toolchain
        language: system
        types: [rust]
        entry: cargo +nightly fmt
        args: [--]
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-check
        name: cargo check
        description: check for package errors with cargo check
        language: system
        types: [rust]
        entry: cargo check
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-clippy
        name: cargo clippy
        description: lint Rust source code
        language: system
        types: [rust]
        entry: cargo clippy
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-semver-checks
        name: cargo semver-checks
        description: lint crate API changes for semver violations
        language: system
        types: [rust]
        entry: cargo semver-checks
        args: [--baseline-rev, HEAD]
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cog-verify
        name: cog verify
        description: check commit message is in Conventional Commit form
        language: system
        entry: cog verify --file
        stages: [commit-msg]
      - id: git-cliff
        name: git cliff
        description: ensure changelog is up to date before pushing to remote
        language: system
        entry: cargo run --bin git-cliff-wrapper
        always_run: true
        stages: [post-commit]
default_install_hook_types:
  [pre-commit, pre-merge-commit, commit-msg, post-commit, pre-push]

infra: perform deterministic `cargo install` builds
  .github/actions/install-build-dependencies/install.sh
  .github/actions/install-dev-dependencies/install.sh
Due: none

docs: detail the use of cargo-about
  README.md
  steam-developer-guide/.gitignore
  steam-developer-guide/md_src/getting_started/setup.md
Due: prettier-markdown

infra: run cargo semver-checks seperately from other linting
  .github/actions/cached-build-access/action.yaml
  .github/actions/cached-semver-access/action.yaml
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  README.md
Due: prettier-markdown

infra: only update CI build cache on pushes to `main` branch
  .github/workflows/ci.yaml
Due: none

feat(steam-engine): add support for background tasks
  steam-developer-guide/md_src/steam_engine/time/clocks.md
  steam-engine/src/engine.rs
  steam-engine/src/executor.rs
  steam-engine/src/time/clock.rs
  steam-engine/src/time/simtime.rs
  steam-engine/tests/clocks.rs
Due: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

test(steam-config): remove use of escargot library
  Cargo.lock
  licenses.html
  steam-config/Cargo.toml
  steam-config/src/lib.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

feat(steam-track): simplify to remove concept of trace enable
  Cargo.lock
  licenses.html
  steam-components/src/connect.rs
  steam-engine/src/engine.rs
  steam-engine/src/test_helpers.rs
  steam-models/Cargo.toml
  steam-models/src/ethernet_frame.rs
  steam-track/Cargo.toml
  steam-track/examples/log_test.rs
  steam-track/src/entity.rs
  steam-track/src/lib.rs
  steam-track/src/test_helpers.rs
  steam-track/src/tracker/capnp.rs
  steam-track/src/tracker/dev_null.rs
  steam-track/src/tracker/in_memory.rs
  steam-track/src/tracker/mod.rs
  steam-track/src/tracker/multi_tracker.rs
  steam-track/src/tracker/text.rs
  steam-track/tests/smoke_macros.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

infra: disable push CI workflow for `pr/` branches
  .github/workflows/ci.yaml
  README.md
Due: prettier-markdown

fix(steam-developer-guide): don't specify rust edition
  steam-developer-guide/book.toml
Due: none

test(steam-config): serialise tests which share an executable
  Cargo.lock
  Cargo.toml
  steam-config/Cargo.toml
  steam-config/src/lib.rs
  steam-track/Cargo.toml
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

feat(examples): add examples/sim-ring as a larger simulation
  Cargo.lock
  Cargo.toml
  examples/sim-ring/Cargo.toml
  examples/sim-ring/LICENSE
  examples/sim-ring/src/lib.rs
  examples/sim-ring/src/main.rs
  examples/sim-ring/src/packet_gen.rs
  examples/sim-ring/src/ring_builder.rs
  examples/sim-ring/src/tracker_builder.rs
  licenses.html
  steam-models/src/ethernet_frame.rs
  steam-models/src/ring_node.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

fix(steam-developer-guide): check for panic when running mdBook tests
  steam-developer-guide/src/lib.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

feat: Add [must_use] attribute to functions that return a future
  steam-engine/src/port.rs
  steam-engine/src/time/clock.rs
  steam-engine/src/traits.rs
  steam-resources/src/base.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

fix(steam-engine): add missing await
  steam-engine/tests/events_all_of.rs
  steam-engine/tests/events_any_of.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

fix(steam-components): ensure router/arbiter port names are correct
  steam-components/src/arbiter.rs
  steam-components/src/router.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

docs: improve description of commit scope use
  README.md
Due: prettier-markdown

infra: promote warnings to errors during CI
  .github/workflows/ci.yaml
Due: none

infra: add `cargo clippy-strict` alias
  .cargo/config.toml
  .pre-commit-config.yaml
  README.md
  steam-developer-guide/md_src/rust/commands.md
Due: prettier-markdown

fix: address all clippy::cargo lints
  .cargo/config.toml
  Cargo.toml
  check-copyright/Cargo.toml
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-ring/Cargo.toml
  steam-components/Cargo.toml
  steam-config/Cargo.toml
  steam-developer-guide/Cargo.toml
  steam-doc-builder/Cargo.toml
  steam-docpp/Cargo.toml
  steam-engine/Cargo.toml
  steam-model-builder/Cargo.toml
  steam-models/Cargo.toml
  steam-perfetto-sys/Cargo.toml
  steam-protocols/Cargo.toml
  steam-resources/Cargo.toml
  steam-spotter/Cargo.toml
  steam-track/Cargo.toml
Due: none

docs: ensure `cargo doc --document-private-items` can be used
  .pre-commit-config.yaml
  README.md
  steam-config/src/multi_source_config.rs
  steam-doc-builder/src/asciidoctor_pp.rs
  steam-track/src/tracker/capnp.rs
  steam-track/src/tracker/in_memory.rs
  steam-track/src/tracker/mod.rs
Due: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

feat(steam-track): add connect track event
  Cargo.lock
  licenses.html
  steam-components/src/connect.rs
  steam-developer-guide/md_src/steam_track/chapter.md
  steam-engine/src/port.rs
  steam-track/Cargo.toml
  steam-track/schemas/steam_track.capnp
  steam-track/src/lib.rs
  steam-track/src/test_helpers.rs
  steam-track/src/trace_visitor.rs
  steam-track/src/tracker/capnp.rs
  steam-track/src/tracker/dev_null.rs
  steam-track/src/tracker/in_memory.rs
  steam-track/src/tracker/mod.rs
  steam-track/src/tracker/multi_tracker.rs
  steam-track/src/tracker/text.rs
Due: prettier-markdown, cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

style: reformat Markdown with latest version of prettier
  steam-developer-guide/md_src/SUMMARY.md
Due: prettier-markdown

style: set rustfmt `imports_granularity` to `Module`
  examples/sim-ring/src/tracker_builder.rs
  rustfmt.toml
  steam-components/src/flow_controls/credit_issuer.rs
  steam-components/src/types.rs
  steam-config/tests/parse_extra_conf_file.rs
  steam-doc-builder/src/bin/adoc-builder.rs
  steam-docpp/src/lib.rs
  steam-engine/tests/clocks.rs
  steam-engine/tests/run_until.rs
  steam-models/benches/ethernet_frame.rs
  steam-models/src/ethernet_frame.rs
  steam-models/tests/fc_pipeline.rs
  steam-spotter/src/app.rs
  steam-spotter/src/main.rs
  steam-spotter/src/tui.rs
  steam-spotter/src/ui.rs
  steam-track/examples/log_test.rs
  steam-track/src/test_helpers.rs
  steam-track/src/trace_visitor.rs
  steam-track/src/tracker/capnp.rs
Due: cargo-deny, cargo-nightly-fmt, cargo-check, cargo-clippy, cargo-semver-checks

infra: add `cargo doc-steam` and `cargo doc-steam-dev` aliases
  .cargo/config.toml
  .pre-commit-config.yaml
  README.md
  steam-developer-guide/md_src/docs/api.md
Due: prettier-markdown
