Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

check-copyright:
  name: check copyright
  description: check copyright notice is valid
  language: system
  entry: cargo run --bin check-copyright
  require_serial: true
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

lychee-check-links:
  name: check links
  description: check validity of links in Markdown and HTML
  language: system
  entry: lychee .
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-markdown:
  name: prettier markdown
  description: check formatting of Markdown files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-yaml:
  name: prettier yaml
  description: check formatting of YAML files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-deny:
  name: cargo deny
  description: check Rust dependencies licenses and for vulnerabilities
  language: system
  entry: cargo deny check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-about:
  name: cargo about
  description: Document licenses of Rust dependencies
  language: system
  entry: cargo about generate --locked --workspace --all-features --fail --config about.toml --output-file licenses.html about.hbs
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-nightly-fmt:
  name: cargo +nightly fmt
  description: format files with "cargo fmt" from the nightly toolchain
  language: system
  entry: cargo +nightly fmt --
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-check:
  name: cargo check
  description: check for package errors with cargo check
  language: system
  entry: cargo check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-clippy-strict:
  name: cargo clippy-strict
  description: lint Rust source code
  language: system
  entry: env RUSTFLAGS="-D warnings" cargo clippy-strict
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-doc-gwr-dev:
  name: cargo doc-gwr-dev
  description: check Rust source code documentation
  language: system
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc-gwr-dev
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

test(fuzz): address review feedback
  .github/actions/install-dev-dependencies/install.sh
  .github/actions/install-nightly-tools/action.yaml
  .github/actions/install-nightly-tools/install.sh
  .github/workflows/fuzz.yaml
  README.md
  deny.toml
  fuzz/LICENSE
  fuzz/README.md
  fuzz/recipes/fuzz.yaml
  release-plz.toml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-check

chore(fuzz): refine target configuration
  .github/workflows/fuzz.yaml
  fuzz/Cargo.toml
  fuzz/README.md
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-check

test(engine): add run-until fuzz target
  .github/workflows/fuzz.yaml
  fuzz/.gitignore
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/engine_run_until.rs
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore(fuzz): use root workspace
  Cargo.lock
  Cargo.toml
  about.toml
  deny.toml
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/README.md
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-check

test(gwr-visualisation): benchmark JavaScript reports
  .github/workflows/ci.yaml
  gwr-visualisation/README.md
  gwr-visualisation/assets/index.html
  gwr-visualisation/benchmarks/benchmark.mjs
  gwr-visualisation/benchmarks/legacy/assets/app.js
  gwr-visualisation/benchmarks/legacy/assets/benchmark-hooks.js
  gwr-visualisation/benchmarks/legacy/assets/core.js
  gwr-visualisation/benchmarks/legacy/assets/filters.js
  gwr-visualisation/benchmarks/legacy/assets/memory.js
  gwr-visualisation/benchmarks/legacy/assets/pe-grid.js
  gwr-visualisation/benchmarks/legacy/assets/relationships.js
  gwr-visualisation/benchmarks/legacy/assets/tensors.js
  gwr-visualisation/benchmarks/legacy/assets/timetable.js
  gwr-visualisation/benchmarks/legacy/assets/view-model.js
  gwr-visualisation/benchmarks/legacy/assets/workspace.js
  gwr-visualisation/benchmarks/lib/adapters.mjs
  gwr-visualisation/benchmarks/lib/config.mjs
  gwr-visualisation/benchmarks/lib/reports.mjs
  gwr-visualisation/benchmarks/lib/results.mjs
  gwr-visualisation/benchmarks/lib/scenarios.mjs
  gwr-visualisation/benchmarks/package-lock.json
  gwr-visualisation/benchmarks/package.json
  gwr-visualisation/src/lib.rs
  gwr-visualisation/tests/cli.rs
  gwr-visualisation/tests/view-model.test.mjs
  prek.toml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(gwr-visualisation): exercise WebAssembly reports in browsers
  .github/workflows/ci.yaml
  .prettierignore
  gwr-visualisation/README.md
  gwr-visualisation/benchmarks/benchmark.mjs
  gwr-visualisation/benchmarks/browser-test.mjs
  gwr-visualisation/benchmarks/legacy/assets/app.js
  gwr-visualisation/benchmarks/legacy/assets/benchmark-hooks.js
  gwr-visualisation/benchmarks/legacy/assets/core.js
  gwr-visualisation/benchmarks/legacy/assets/filters.js
  gwr-visualisation/benchmarks/legacy/assets/memory.js
  gwr-visualisation/benchmarks/legacy/assets/pe-grid.js
  gwr-visualisation/benchmarks/legacy/assets/relationships.js
  gwr-visualisation/benchmarks/legacy/assets/tensors.js
  gwr-visualisation/benchmarks/legacy/assets/timetable.js
  gwr-visualisation/benchmarks/legacy/assets/view-model.js
  gwr-visualisation/benchmarks/legacy/assets/workspace.js
  gwr-visualisation/benchmarks/lib/adapters.mjs
  gwr-visualisation/benchmarks/lib/config.mjs
  gwr-visualisation/benchmarks/lib/reports.mjs
  gwr-visualisation/benchmarks/lib/results.mjs
  gwr-visualisation/benchmarks/lib/scenarios.mjs
  gwr-visualisation/benchmarks/package-lock.json
  gwr-visualisation/benchmarks/package.json
  gwr-visualisation/benchmarks/parity.mjs
  gwr-visualisation/benchmarks/tests/results.test.mjs
  gwr-visualisation/tests/view-model.test.mjs
  prek.toml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-check

test(gwr-spotter): capture web server contract
  gwr-spotter/src/lib.rs
  gwr-spotter/src/rocket.rs
  gwr-spotter/tests/common/server_contract.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore: add `gwr` to cSpell dictionary
  .vscode/settings.json
Due: none

refactor(gwr-spotter)!: replace Rocket with Axum
  Cargo.lock
  gwr-spotter/Cargo.toml
  gwr-spotter/src/app/mod.rs
  gwr-spotter/src/app/tests.rs
  gwr-spotter/src/bin_loader.rs
  gwr-spotter/src/filter.rs
  gwr-spotter/src/http_server.rs
  gwr-spotter/src/lib.rs
  gwr-spotter/src/log_parser.rs
  gwr-spotter/src/main.rs
  gwr-spotter/src/rocket.rs
  gwr-spotter/tests/common/server_contract.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

docs(gwr-spotter): improve frontend documentation
  gwr-developer-guide/md_src/gwr_spotter/chapter.md
  gwr-spotter/README.md
  gwr-spotter/frontend/README.md
Due: check-copyright, lychee-check-links, prettier-markdown

feat(gwr-spotter): extend CLI to support disabling the server
  gwr-spotter/README.md
  gwr-spotter/frontend/README.md
  gwr-spotter/src/main.rs
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models)!: remove unused type
  Cargo.lock
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-models/Cargo.toml
  gwr-models/src/fabric/mod.rs
  gwr-platform/Cargo.toml
  gwr-timetable/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-models): avoid unnecessary allocations
  gwr-models/src/memory/cache.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-models,gwr-timetable)!: Remove explicit memory nodes from timetables
  Cargo.lock
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-models/Cargo.toml
  gwr-models/src/processing_element/load_store_unit.rs
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/task.rs
  gwr-platform/Cargo.toml
  gwr-platform/tests/simple_platforms.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/examples/cache.yaml
  gwr-timetable/src/lib.rs
  gwr-timetable/src/mermaid.rs
  gwr-timetable/src/timetable_file.rs
  gwr-timetable/src/types.rs
  gwr-timetable/tests/errors.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra: update build, dev, and licensing tooling
  .github/actions/install-build-dependencies/install.sh
  .github/actions/install-dev-dependencies/install.sh
  .github/actions/install-license-tools/install.sh
  gwr-docpp/tests/macros.rs
  licenses.html
  lychee.toml
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra: group Cap’n Proto updates into single PR
  .github/dependabot.yaml
Due: check-copyright, prettier-yaml

infra: ensure cargo-semver-checks works on toolchain updates
  semver-checks.sh
Due: check-copyright

infra: handle GitHub-truncated Dependabot bodies
  .github/workflows/trusted-amend-dependabot-github-actions-update.yaml
Due: check-copyright, prettier-yaml

refactor(gwr-models,sim-restaurant): standardise simulation errors
  examples/sim-restaurant/src/bin/sim-restaurant.rs
  examples/sim-restaurant/src/config.rs
  gwr-models/src/processing_element/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-terminus): avoid recipe temp script collisions
  gwr-terminus/src/recipe/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models): preserve packed tensor byte ranges
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models)!: validate tensor construction
  Cargo.lock
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-models/Cargo.toml
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-platform/Cargo.toml
  gwr-platform/tests/simple_platforms.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/src/bin/gen-timetable.rs
  gwr-timetable/src/lib.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models,gwr-timetable): check aggregate tensor byte totals
  gwr-models/src/processing_element/mod.rs
  gwr-timetable/src/bin/gen-timetable.rs
  gwr-timetable/src/lib.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(gwr-models): identify operator test helpers
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-timetable): preserve packed tensor byte ranges
  gwr-timetable/src/timetable_file.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png|
  .*\.json
)

  lychee-check-links: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-gwr-dev: any of: \.rs$
