Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png
)

  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-tramway-dev: any of: \.rs$

docs: link to hosted logo
  README.md
Due: check-copyright, prettier-markdown

infra: standardise the install of typst
  .github/actions/install-build-dependencies/install.sh
  gwr-docpp/build.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

fix(gwr-perfetto-sys,gwr-perfetto): always dirty during incremental builds
  gwr-perfetto-sys/.gitignore
  gwr-perfetto-sys/build.rs
  gwr-perfetto-sys/src/lib.rs
  gwr-perfetto/build.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

chore: add version key to packages with local paths
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-docpp/Cargo.toml
  gwr-engine/Cargo.toml
  gwr-models/Cargo.toml
  gwr-perfetto/Cargo.toml
  gwr-protocols/Cargo.toml
  gwr-resources/Cargo.toml
  gwr-spotter/Cargo.toml
  gwr-track/Cargo.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

chore: sort dependencies alphabetically
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-docpp/Cargo.toml
  gwr-engine/Cargo.toml
  gwr-models/Cargo.toml
  gwr-perfetto/Cargo.toml
  gwr-spotter/Cargo.toml
  gwr-terminus/Cargo.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

chore: update to latest release of release-plz
  .github/actions/install-dev-dependencies/install.sh
Due: check-copyright

chore: exclude newer example packages when publishing
  release-plz.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

chore: allow publishing to crates.io
  Cargo.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

chore: release
  Cargo.toml
  check-copyright/CHANGELOG.md
  examples/flaky-component/CHANGELOG.md
  examples/flaky-with-delay/CHANGELOG.md
  examples/sim-fabric/CHANGELOG.md
  examples/sim-pipe/CHANGELOG.md
  examples/sim-ring/CHANGELOG.md
Due: check-copyright, prettier-markdown, cargo-deny, cargo-about, cargo-check

test: Add tests for the store component
  gwr-components/tests/store.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

refactor: add macros for connecting dummy ports
  gwr-components/src/connect.rs
  gwr-models/src/fabric/routed.rs
  gwr-models/tests/fabric_node.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

test: Add tests for gwr-spotter
  Cargo.lock
  gwr-spotter/Cargo.toml
  gwr-spotter/src/app/mod.rs
  gwr-spotter/src/app/tests.rs
  gwr-spotter/src/renderer.rs
  gwr-spotter/src/rocket.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

chore: exclude in tree build files from package
  gwr-developer-guide/Cargo.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

infra: update cargo-deny
  .github/actions/install-dev-dependencies/install.sh
Due: check-copyright

chore: activate all available features when publishing
  release-plz.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

chore: disable changelog generation for unpublished packages
  release-plz.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

chore: release
  gwr-components/CHANGELOG.md
  gwr-config/CHANGELOG.md
  gwr-doc-builder/CHANGELOG.md
  gwr-docpp/CHANGELOG.md
  gwr-engine/CHANGELOG.md
  gwr-model-builder/CHANGELOG.md
  gwr-models/CHANGELOG.md
  gwr-perfetto-sys/CHANGELOG.md
  gwr-perfetto/CHANGELOG.md
  gwr-protocols/CHANGELOG.md
  gwr-resources/CHANGELOG.md
  gwr-spotter/CHANGELOG.md
  gwr-terminus/CHANGELOG.md
  gwr-track/CHANGELOG.md
Due: check-copyright, prettier-markdown

chore: cargo update
  Cargo.lock
  Cargo.toml
  gwr-config/Cargo.toml
  gwr-spotter/src/tui.rs
  gwr-terminus/src/tui.rs
  licenses.html
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

infra: update stable Rust toolchain to 1.93.0
  Cargo.toml
  gwr-components/src/arbiter/policy/priority_round_robin.rs
  gwr-config/tests/macro_properties/missing_path.stderr
  gwr-config/tests/macro_properties/name_only.stderr
  gwr-config/tests/macro_properties/unsupported.stderr
  gwr-doc-builder/src/doc_nodes.rs
  gwr-models/src/fabric/routed.rs
  gwr-spotter/src/filter.rs
  rust-toolchain.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-tramway-dev

infra: update mdbook
  .github/actions/install-build-dependencies/install.sh
Due: check-copyright

infra: update cargo-expand
  .github/actions/install-build-dependencies/install.sh
Due: check-copyright

infra: update cargo-binstall
  .github/actions/install-build-dependencies/install.sh
Due: check-copyright

infra: update cargo-about
  .github/actions/install-dev-dependencies/install.sh
Due: check-copyright
