Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png|
  .*\.json
)

  lychee-check-links: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-gwr-dev: any of: \.rs$

test(gwr-components,gwr-models): adopt test harnesses
  gwr-components/tests/arbiter.rs
  gwr-components/tests/delay.rs
  gwr-components/tests/object_store.rs
  gwr-components/tests/queue.rs
  gwr-models/README.md
  gwr-models/src/test_helpers.rs
  gwr-models/tests/fc_pipeline.rs
  gwr-models/tests/memory.rs
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(gwr-components,gwr-models): strengthen harness assertions
  gwr-components/tests/arbiter.rs
  gwr-components/tests/delay.rs
  gwr-models/tests/fc_pipeline.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(gwr-components): simplify harness step construction
  gwr-components/tests/object_store.rs
  gwr-components/tests/queue.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra(dependabot): correct the path
  .github/workflows/regenerate-licenses-on-dependabot.yaml
Due: check-copyright, prettier-yaml

infra(dependabot): make gwr-bot the author when it commits modifications
  .github/gwr-bot/gwr-bot-setup.md
  .github/workflows/regenerate-licenses-on-dependabot.yaml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml

infra(dependabot): have gwr-bot improve the commit message GitHub Actions updates (part 2)
  .github/gwr-bot/gwr-bot-setup.md
  .github/workflows/amend-dependabot-github-actions-update.yaml
  .github/workflows/ci.yaml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml

refactor(dependabot): improve maintainability of trusted amend workflow
  .github/workflows/trusted-amend-dependabot-github-actions-update.yaml
Due: check-copyright, prettier-yaml

infra: only enable verbose Cargo output when CI is run with debug logging
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

feat(gwr-engine): add multi-engine sync and channels
  Cargo.lock
  Cargo.toml
  examples/multi-engine/Cargo.toml
  examples/multi-engine/src/main.rs
  gwr-engine/src/engine.rs
  gwr-engine/src/executor.rs
  gwr-engine/src/lib.rs
  gwr-engine/src/multi_engine.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra(dependabot): fix the group update detection
  .github/workflows/trusted-amend-dependabot-github-actions-update.yaml
Due: check-copyright, prettier-yaml

chore: bump gungraun from 0.17.2 to 0.19.4
  .github/actions/install-build-dependencies/install.sh
  Cargo.lock
  Cargo.toml
  deny.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-check

chore: bump Rust dependencies to the latest non-major versions
  Cargo.lock
  licenses.html
Due: check-copyright, lychee-check-links

chore: bump capnp and capnpc from 0.25.x to 0.26.x
  Cargo.lock
  Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-check

chore(gwr-config): bump syn from 2.0.114 to 3.0.3
  Cargo.lock
  gwr-config/Cargo.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

chore: bump rand from 0.9.2 to 0.10.2
  Cargo.lock
  Cargo.toml
  examples/flaky-component/src/lib.rs
  examples/flaky-with-delay/src/lib.rs
  examples/sim-fabric/Cargo.toml
  examples/sim-restaurant/src/customer.rs
  examples/sim-restaurant/src/menu.rs
  gwr-models/src/memory/memory_access_gen/random.rs
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore: bump itertools from 0.14.0 to 0.15.0
  Cargo.lock
  Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-check

chore: bump num-derive from 0.4.1 to 0.5.1
  Cargo.lock
  Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-check

infra(dependabot): replace the deprecated app-id input
  .github/gwr-bot/gwr-bot-setup.md
  .github/workflows/regenerate-licenses-on-dependabot.yaml
  .github/workflows/trusted-amend-dependabot-github-actions-update.yaml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml

infra(dependabot): pass client ID to the trusted amend workflow
  .github/workflows/amend-dependabot-github-actions-update.yaml
Due: check-copyright, prettier-yaml

refactor(dependabot): simplify license regeneration workflow
  .github/workflows/regenerate-licenses-on-dependabot.yaml
Due: check-copyright, prettier-yaml

test(gwr-models): preserve delayed traffic checks
  gwr-models/tests/cache.rs
  gwr-models/tests/ethernet_link.rs
  gwr-models/tests/memory.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(gwr-models): extend test harness coverage
  gwr-models/src/ethernet_frame.rs
  gwr-models/tests/cache.rs
  gwr-models/tests/ethernet_link.rs
  gwr-models/tests/memory.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev
