Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

check-copyright:
  name: check copyright
  description: check copyright notice is valid
  language: system
  entry: cargo run --bin check-copyright
  require_serial: true
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

lychee-check-links:
  name: check links
  description: check validity of links in Markdown and HTML
  language: system
  entry: lychee .
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-markdown:
  name: prettier markdown
  description: check formatting of Markdown files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

prettier-yaml:
  name: prettier yaml
  description: check formatting of YAML files
  language: system
  entry: npx prettier --write
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-deny:
  name: cargo deny
  description: check Rust dependencies licenses and for vulnerabilities
  language: system
  entry: cargo deny check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-about:
  name: cargo about
  description: Document licenses of Rust dependencies
  language: system
  entry: cargo about generate --locked --workspace --all-features --fail --config about.toml --output-file licenses.html about.hbs
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-nightly-fmt:
  name: cargo +nightly fmt
  description: format files with "cargo fmt" from the nightly toolchain
  language: system
  entry: cargo +nightly fmt --
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-check:
  name: cargo check
  description: check for package errors with cargo check
  language: system
  entry: cargo check
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-clippy-strict:
  name: cargo clippy-strict
  description: lint Rust source code
  language: system
  entry: env RUSTFLAGS="-D warnings" cargo clippy-strict
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

cargo-doc-gwr-dev:
  name: cargo doc-gwr-dev
  description: check Rust source code documentation
  language: system
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc-gwr-dev
  pass_filenames: false
  stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual

infra: use main branch results as benchmark baseline on CI
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

chore: cargo update
  Cargo.lock
  licenses.html
Due: check-copyright, lychee-check-links

chore: use constant to keep benchmark baseline branch name DRY
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

chore: explicitly download benchmark baseline from latest successful run
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

chore: add names to steps of benchmark job
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

chore: upgrade to the latest GitHub Actions versions
  .github/actions/install-build-dependencies/action.yaml
  .github/actions/install-dev-dependencies/action.yaml
  .github/actions/run-build-command/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/online-documentation.yaml
Due: check-copyright, prettier-yaml

chore: ensure benchmark baseline used is from the correct OS
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

docs: add section on profiling to developer guide
  gwr-developer-guide/md_src/rust/commands.md
Due: check-copyright, lychee-check-links, prettier-markdown

infra: enable `--show-diff-on-failure` to aid debug of lint job failures
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

infra: run linting CI on macOS
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

feat(gwr-engine): use mimalloc as the global allocator
  Cargo.lock
  gwr-engine/Cargo.toml
  gwr-engine/src/global_allocator.rs
  gwr-engine/src/lib.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-timetable): add progress bar
  Cargo.lock
  gwr-timetable/Cargo.toml
  gwr-timetable/src/lib.rs
  gwr-timetable/src/main.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(sim-fabric,sim-pipe,sim-ring): only create ProgressBar when --progress is passed
  examples/sim-fabric/src/main.rs
  examples/sim-pipe/src/main.rs
  examples/sim-ring/src/main.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-perfetto-sys): move Perfetto source to a submodule
  .github/workflows/ci.yaml
  .github/workflows/online-documentation.yaml
  .gitmodules
  .pre-commit-config.yaml
  README.md
  gwr-developer-guide/md_src/getting_started/setup.md
  gwr-perfetto-sys/build.rs
  gwr-perfetto-sys/src/lib.rs
  lychee.toml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-perfetto-sys): use of git submodule during cargo-semver-checks
  .pre-commit-config.yaml
  gwr-perfetto-sys/build.rs
  gwr-perfetto-sys/src/lib.rs
  gwr-perfetto-sys/src/submodule_path.rs
Due: check-copyright, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

docs(gwr-perfetto-sys): reflect recent build script changes
  gwr-perfetto-sys/README.md
Due: check-copyright, lychee-check-links, prettier-markdown

fix(gwr-perfetto-sys): don't panic when perfetto_src directory doesn't exist
  gwr-perfetto-sys/build.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix: avoid using git features of cargo-semver-checks
  .pre-commit-config.yaml
  semver-checks.sh
Due: check-copyright, prettier-yaml

chore(gwr-perfetto-sys): hint that submodule checkout can be shallow
  .gitmodules
  README.md
  gwr-perfetto-sys/build.rs
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix: Ensure the execution order of Timetables is deterministic
  gwr-terminus/src/recipe/mod.rs
  gwr-timetable/src/lib.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra: only cache benchmark build
  .github/workflows/ci.yaml
Due: check-copyright, prettier-yaml

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png|
  .*\.json
)

  lychee-check-links: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-gwr-dev: any of: \.rs$
