Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png|
  .*\.json
)

  lychee-check-links: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-gwr-dev: any of: \.rs$

infra: update to the latest version of Prek
  .github/actions/install-dev-dependencies/install.sh
Due: check-copyright

feat(gwr-terminus): strip Operating System Command escape sequences
  gwr-terminus/src/recipe/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(gwr-terminus): improve robustness of concurrent_executions_use_separate_scripts
  gwr-terminus/src/recipe/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

docs: update Prek builtin hooks link
  README.md
Due: check-copyright, lychee-check-links, prettier-markdown

feat(gwr-visualisation): add interactive report workspaces
  Cargo.lock
  eslint.config.js
  gwr-visualisation/Cargo.toml
  gwr-visualisation/README.md
  gwr-visualisation/assets/app.js
  gwr-visualisation/assets/core.js
  gwr-visualisation/assets/filters.js
  gwr-visualisation/assets/index.html
  gwr-visualisation/assets/memory.js
  gwr-visualisation/assets/palettes.js
  gwr-visualisation/assets/pe-grid.js
  gwr-visualisation/assets/relationships.js
  gwr-visualisation/assets/style.css
  gwr-visualisation/assets/tensor-accesses.js
  gwr-visualisation/assets/tensors.js
  gwr-visualisation/assets/timetable-graph-layout.js
  gwr-visualisation/assets/timetable-graph-viewport.js
  gwr-visualisation/assets/timetable-graph.js
  gwr-visualisation/assets/timetable.js
  gwr-visualisation/assets/workspace-model.js
  gwr-visualisation/assets/workspace-settings.js
  gwr-visualisation/assets/workspace.css
  gwr-visualisation/assets/workspace.js
  gwr-visualisation/src/analysis/compute.rs
  gwr-visualisation/src/analysis/graph.rs
  gwr-visualisation/src/analysis/memory.rs
  gwr-visualisation/src/analysis/mod.rs
  gwr-visualisation/src/analysis/model.rs
  gwr-visualisation/src/analysis/tensors.rs
  gwr-visualisation/src/analysis/tests.rs
  gwr-visualisation/src/lib.rs
  gwr-visualisation/tests-js/palettes.test.js
  gwr-visualisation/tests-js/startup-performance.test.js
  gwr-visualisation/tests-js/timetable-graph-layout.test.js
  gwr-visualisation/tests-js/workspace-browser.js
  gwr-visualisation/tests-js/workspace-model.test.js
  gwr-visualisation/tests/cli.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-engine)!: expose executor activity snapshots
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-restaurant/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-components/src/test_helpers.rs
  gwr-components/tests/test_harness_errors.rs
  gwr-engine/Cargo.toml
  gwr-engine/src/engine.rs
  gwr-engine/src/executor.rs
  gwr-engine/tests/common/mod.rs
  gwr-engine/tests/engine.rs
  gwr-engine/tests/events_all_of.rs
  gwr-engine/tests/events_any_of.rs
  gwr-engine/tests/run_until.rs
  gwr-models/Cargo.toml
  gwr-platform/Cargo.toml
  gwr-protocols/Cargo.toml
  gwr-resources/Cargo.toml
  gwr-timetable/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-timetable): expand simulation progress reporting
  Cargo.lock
  gwr-timetable/Cargo.toml
  gwr-timetable/src/lib.rs
  gwr-timetable/src/main.rs
  gwr-timetable/tests/custom_compute.rs
  gwr-timetable/tests/validation/scheduling.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-timetable): expand simulation progress reporting
  gwr-engine/src/engine.rs
  gwr-engine/src/executor.rs
  gwr-timetable/src/lib.rs
  gwr-timetable/src/main.rs
  gwr-timetable/tests/custom_compute.rs
  gwr-timetable/tests/validation/scheduling.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-config): support focused layered configuration
  Cargo.lock
  Cargo.toml
  gwr-config/Cargo.toml
  gwr-config/README.md
  gwr-config/examples/alt_and_runtime_conf_files.rs
  gwr-config/examples/alt_conf_file.rs
  gwr-config/examples/alt_conf_file_missing.rs
  gwr-config/examples/application_subset.rs
  gwr-config/examples/full_conf_file.rs
  gwr-config/examples/full_conf_file.toml
  gwr-config/examples/no_conf_file.rs
  gwr-config/examples/partial_conf_file.rs
  gwr-config/examples/partial_conf_file.toml
  gwr-config/examples/runtime_conf_file.rs
  gwr-config/examples/runtime_conf_file.toml
  gwr-config/src/contract.rs
  gwr-config/src/lib.rs
  gwr-config/src/multi_source_config.rs
  gwr-config/tests/application_subset.rs
  gwr-config/tests/conf_file_flag_names.rs
  gwr-config/tests/parse_extra_conf_file.rs
  gwr-config/tests/partial_conf_file1.toml
  gwr-config/tests/partial_conf_file2.toml
  gwr-config/tests/partial_conf_file3.toml
  gwr-config/tests/ui/multi_source_config_rejects_missing_equals.rs
  gwr-config/tests/ui/multi_source_config_rejects_missing_equals.stderr
  gwr-config/tests/ui/multi_source_config_rejects_missing_path.rs
  gwr-config/tests/ui/multi_source_config_rejects_missing_path.stderr
  gwr-config/tests/ui/rejects_conditional_default.rs
  gwr-config/tests/ui/rejects_conditional_default.stderr
  gwr-config/tests/ui/rejects_conf_file_flag_collisions.rs
  gwr-config/tests/ui/rejects_conf_file_flag_collisions.stderr
  gwr-config/tests/ui/rejects_flattened_file_flag.rs
  gwr-config/tests/ui/rejects_flattened_file_flag.stderr
  gwr-config/tests/ui/rejects_serde_alias.rs
  gwr-config/tests/ui/rejects_serde_alias.stderr
  gwr-config/tests/value_enum_defaults.rs
  gwr-track/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-components,gwr-models): remove cfg-if dependency
  Cargo.lock
  Cargo.toml
  gwr-components/Cargo.toml
  gwr-components/benches/one_shot_benchmarks.rs
  gwr-models/Cargo.toml
  gwr-models/benches/one_shot_benchmarks.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra: sync rust-version with rust-toolchain.toml
  Cargo.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

feat(gwr-platform): support null fabric and cache connections
  Cargo.lock
  gwr-platform/Cargo.toml
  gwr-platform/README.md
  gwr-platform/src/builder.rs
  gwr-platform/src/connect.rs
  gwr-platform/src/connection_id.rs
  gwr-platform/src/lib.rs
  gwr-platform/src/validation.rs
  gwr-platform/src/yaml.rs
  gwr-platform/tests/null_connections.rs
  gwr-timetable/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev
