Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png|
  .*\.json
)

  lychee-check-links: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-gwr-dev: any of: \.rs$

fix(gwr-timetable): derive scheduling dependencies from data edges
  gwr-timetable/src/lib.rs
  gwr-timetable/src/timetable_file.rs
  gwr-timetable/tests/errors.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models): refine compute partitions to fit SRAM
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/custom.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-models/src/processing_element/operators/partition.rs
  gwr-models/src/processing_element/task.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-timetable): generate valid timetable graphs
  gwr-timetable/src/bin/gen-timetable.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-timetable)!: build validated timetable graphs
  Cargo.lock
  gwr-platform/src/lib.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/examples/tiny.yaml
  gwr-timetable/src/bin/gen-timetable.rs
  gwr-timetable/src/bin/timetable-to-mermaid.rs
  gwr-timetable/src/graph.rs
  gwr-timetable/src/lib.rs
  gwr-timetable/src/main.rs
  gwr-timetable/src/mermaid.rs
  gwr-timetable/src/timetable_file.rs
  gwr-timetable/src/types.rs
  gwr-timetable/tests/custom_compute.rs
  gwr-timetable/tests/errors.rs
  gwr-timetable/tests/gen_timetable.rs
  gwr-timetable/tests/graph.rs
  gwr-timetable/tests/maxpool.rs
  gwr-timetable/tests/operator_activity.rs
  gwr-timetable/tests/validation/common.rs
  gwr-timetable/tests/validation/operators.rs
  gwr-timetable/tests/validation/scheduling.rs
  gwr-timetable/tests/validation/structure.rs
  gwr-timetable/tests/validation/views.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models)!: check operator arithmetic
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/custom.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-models/src/processing_element/operators/tensor.rs
  gwr-models/src/processing_element/task.rs
  gwr-platform/src/lib.rs
  gwr-timetable/src/lib.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-platform)!: support standalone platform validation
  gwr-platform/README.md
  gwr-platform/examples/platform.yaml
  gwr-platform/examples/platform_4x4.yaml
  gwr-platform/examples/platform_4x4_4xhbm.yaml
  gwr-platform/examples/simple_pe_cache_mem.yaml
  gwr-platform/src/bin/gen-fabric.rs
  gwr-platform/src/builder.rs
  gwr-platform/src/connect.rs
  gwr-platform/src/lib.rs
  gwr-platform/src/types.rs
  gwr-platform/src/validation.rs
  gwr-platform/src/yaml.rs
  gwr-platform/tests/errors.rs
  gwr-platform/tests/simple_platforms.rs
  gwr-platform/tests/validation/common.rs
  gwr-platform/tests/validation/connections.rs
  gwr-platform/tests/validation/memory_ranges.rs
  gwr-platform/tests/validation/model_configuration.rs
  gwr-platform/tests/validation/resources.rs
  gwr-timetable/tests/custom_compute.rs
  gwr-timetable/tests/errors.rs
  gwr-timetable/tests/gen_timetable.rs
  gwr-timetable/tests/maxpool.rs
  gwr-timetable/tests/operator_activity.rs
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-models)!: validate model configuration
  examples/sim-fabric/src/main.rs
  examples/sim-fabric/src/source_sink_builder.rs
  gwr-models/src/fabric/functional.rs
  gwr-models/src/fabric/mod.rs
  gwr-models/src/fabric/routed.rs
  gwr-models/src/memory/cache.rs
  gwr-models/src/memory/memory_map.rs
  gwr-models/src/memory/mod.rs
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/tensor.rs
  gwr-models/tests/fabric.rs
  gwr-models/tests/fabric_node.rs
  gwr-models/tests/memory.rs
  gwr-platform/src/builder.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-timetable)!: reject unordered tensor accesses
  gwr-timetable/src/graph.rs
  gwr-timetable/src/graph/accesses.rs
  gwr-timetable/tests/errors.rs
  gwr-timetable/tests/validation/access_conflicts.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-visualisation): build timetable report data
  Cargo.lock
  Cargo.toml
  gwr-visualisation/Cargo.toml
  gwr-visualisation/LICENSE
  gwr-visualisation/src/address.rs
  gwr-visualisation/src/analysis/compute.rs
  gwr-visualisation/src/analysis/graph.rs
  gwr-visualisation/src/analysis/memory.rs
  gwr-visualisation/src/analysis/mod.rs
  gwr-visualisation/src/analysis/platform.rs
  gwr-visualisation/src/analysis/tensors.rs
  gwr-visualisation/src/analysis/tests/graph.rs
  gwr-visualisation/src/analysis/tests/memory.rs
  gwr-visualisation/src/analysis/tests/mod.rs
  gwr-visualisation/src/analysis/tests/overlays.rs
  gwr-visualisation/src/analysis/tests/summaries.rs
  gwr-visualisation/src/analysis/tests/tensor_traffic.rs
  gwr-visualisation/src/lib.rs
  gwr-visualisation/src/model.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-visualisation): generate static timetable reports
  .gitignore
  Cargo.lock
  Cargo.toml
  gwr-visualisation/Cargo.toml
  gwr-visualisation/README.md
  gwr-visualisation/assets/app.js
  gwr-visualisation/assets/core.js
  gwr-visualisation/assets/filters.js
  gwr-visualisation/assets/index.html
  gwr-visualisation/assets/memory.js
  gwr-visualisation/assets/pe-grid.js
  gwr-visualisation/assets/relationships.js
  gwr-visualisation/assets/style.css
  gwr-visualisation/assets/tensors.js
  gwr-visualisation/assets/timetable.js
  gwr-visualisation/assets/view-model.js
  gwr-visualisation/assets/workspace.js
  gwr-visualisation/src/generator.rs
  gwr-visualisation/src/lib.rs
  gwr-visualisation/src/main.rs
  gwr-visualisation/tests/bundle/common.rs
  gwr-visualisation/tests/bundle/input_validation.rs
  gwr-visualisation/tests/bundle/mod.rs
  gwr-visualisation/tests/bundle/output.rs
  gwr-visualisation/tests/bundle/safety.rs
  gwr-visualisation/tests/cli.rs
  gwr-visualisation/tests/view-model.test.mjs
  prek.toml
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(gwr-visualisation): benchmark JavaScript reports
  .github/workflows/ci.yaml
  gwr-visualisation/README.md
  gwr-visualisation/assets/app.js
  gwr-visualisation/benchmarks/benchmark.mjs
  gwr-visualisation/benchmarks/legacy/assets/benchmark-hooks.js
  gwr-visualisation/benchmarks/lib/adapters.mjs
  gwr-visualisation/benchmarks/lib/config.mjs
  gwr-visualisation/benchmarks/lib/report-server.mjs
  gwr-visualisation/benchmarks/lib/reports.mjs
  gwr-visualisation/benchmarks/lib/results.mjs
  gwr-visualisation/benchmarks/lib/scenarios.mjs
  gwr-visualisation/benchmarks/package-lock.json
  gwr-visualisation/benchmarks/package.json
  gwr-visualisation/benchmarks/tests/report-server.test.mjs
  gwr-visualisation/benchmarks/tests/results.test.mjs
  prek.toml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-check

feat(gwr-visualisation): support WebAssembly report data
  Cargo.lock
  Cargo.toml
  gwr-visualisation/Cargo.toml
  gwr-visualisation/README.md
  gwr-visualisation/assets/bootstrap.js
  gwr-visualisation/assets/index.html
  gwr-visualisation/benchmarks/lib/reports.mjs
  gwr-visualisation/src/generator.rs
  gwr-visualisation/src/lib.rs
  gwr-visualisation/src/payload.rs
  gwr-visualisation/tests/bundle/common.rs
  gwr-visualisation/tests/bundle/output.rs
  gwr-visualisation/tests/bundle/safety.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(gwr-visualisation): exercise WebAssembly reports in browsers
  .github/workflows/ci.yaml
  gwr-visualisation/README.md
  gwr-visualisation/benchmarks/browser-test.mjs
  gwr-visualisation/benchmarks/lib/adapters.mjs
  gwr-visualisation/benchmarks/lib/reports.mjs
  gwr-visualisation/benchmarks/package.json
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml

fix(gwr-terminus): avoid recipe temp script collisions
  Cargo.lock
  gwr-terminus/Cargo.toml
  gwr-terminus/src/recipe/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

test(engine): add run-until fuzz target
  .github/workflows/fuzz.yaml
  fuzz/.gitignore
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/engine_run_until.rs
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore(fuzz): use root workspace
  Cargo.lock
  Cargo.toml
  about.toml
  deny.toml
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  fuzz/README.md
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-check

chore(fuzz): refine target configuration
  .github/workflows/fuzz.yaml
  fuzz/Cargo.toml
  fuzz/README.md
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-check

chore(fuzz): simplify workspace configuration
  fuzz/Cargo.toml
  fuzz/README.md
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-check

test(fuzz): address review feedback
  .github/actions/install-dev-dependencies/install.sh
  .github/actions/install-nightly-tools/action.yaml
  .github/actions/install-nightly-tools/install.sh
  .github/workflows/fuzz.yaml
  README.md
  deny.toml
  fuzz/LICENSE
  fuzz/README.md
  fuzz/recipes/fuzz.yaml
  release-plz.toml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-check

fix(fuzz): address review and CI feedback
  .github/workflows/fuzz.yaml
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml

feat(gwr-components): Add CapacityAllocator
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-restaurant/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-components/src/capacity_allocator.rs
  gwr-components/src/lib.rs
  gwr-components/src/store/byte_store.rs
  gwr-components/src/store/mod.rs
  gwr-components/src/store/object_store.rs
  gwr-components/tests/byte_store.rs
  gwr-components/tests/capacity_allocator.rs
  gwr-engine/Cargo.toml
  gwr-models/Cargo.toml
  gwr-protocols/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-spotter): show creator for created events
  Cargo.lock
  gwr-spotter/Cargo.toml
  gwr-spotter/src/app/mod.rs
  gwr-spotter/src/bin_loader.rs
  gwr-spotter/src/filter.rs
  gwr-spotter/src/log_parser.rs
  gwr-spotter/src/renderer.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

docs: add architectural documentation
  gwr-components/README.md
  gwr-components/src/connect.rs
  gwr-engine/src/engine.rs
  gwr-engine/src/events/mod.rs
  gwr-engine/src/port/mod.rs
  gwr-engine/src/time/mod.rs
  gwr-engine/src/traits.rs
  gwr-engine/src/types.rs
  gwr-models/src/fabric/mod.rs
  gwr-platform/src/lib.rs
  gwr-timetable/src/lib.rs
  gwr-track/src/tracker/aka.rs
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-visualisation): add static timetable visualisation tool
  .gitignore
  Cargo.toml
  gwr-visualisation/Cargo.toml
  gwr-visualisation/LICENSE
  gwr-visualisation/README.md
  gwr-visualisation/assets/app.js
  gwr-visualisation/assets/core.js
  gwr-visualisation/assets/filters.js
  gwr-visualisation/assets/index.html
  gwr-visualisation/assets/memory.js
  gwr-visualisation/assets/pe-grid.js
  gwr-visualisation/assets/relationships.js
  gwr-visualisation/assets/style.css
  gwr-visualisation/assets/tensors.js
  gwr-visualisation/assets/timetable.js
  gwr-visualisation/assets/workspace.js
  gwr-visualisation/src/analysis/compute.rs
  gwr-visualisation/src/analysis/graph.rs
  gwr-visualisation/src/analysis/memory.rs
  gwr-visualisation/src/analysis/mod.rs
  gwr-visualisation/src/analysis/model.rs
  gwr-visualisation/src/analysis/platform.rs
  gwr-visualisation/src/analysis/tensors.rs
  gwr-visualisation/src/analysis/tests.rs
  gwr-visualisation/src/lib.rs
  gwr-visualisation/src/main.rs
  gwr-visualisation/tests/cli.rs
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-visualisation): add interactive report workspaces
  Cargo.lock
  gwr-visualisation/Cargo.toml
  gwr-visualisation/README.md
  gwr-visualisation/assets/app.js
  gwr-visualisation/assets/core.js
  gwr-visualisation/assets/filters.js
  gwr-visualisation/assets/index.html
  gwr-visualisation/assets/memory.js
  gwr-visualisation/assets/palettes.js
  gwr-visualisation/assets/pe-grid.js
  gwr-visualisation/assets/relationships.js
  gwr-visualisation/assets/style.css
  gwr-visualisation/assets/tensor-accesses.js
  gwr-visualisation/assets/tensors.js
  gwr-visualisation/assets/timetable-graph-layout.js
  gwr-visualisation/assets/timetable-graph-viewport.js
  gwr-visualisation/assets/timetable-graph.js
  gwr-visualisation/assets/timetable.js
  gwr-visualisation/assets/workspace-model.js
  gwr-visualisation/assets/workspace-settings.js
  gwr-visualisation/assets/workspace.css
  gwr-visualisation/assets/workspace.js
  gwr-visualisation/src/analysis/compute.rs
  gwr-visualisation/src/analysis/graph.rs
  gwr-visualisation/src/analysis/memory.rs
  gwr-visualisation/src/analysis/mod.rs
  gwr-visualisation/src/analysis/model.rs
  gwr-visualisation/src/analysis/tensors.rs
  gwr-visualisation/src/analysis/tests.rs
  gwr-visualisation/src/lib.rs
  gwr-visualisation/tests-js/palettes.test.js
  gwr-visualisation/tests-js/timetable-graph-layout.test.js
  gwr-visualisation/tests-js/workspace-browser.js
  gwr-visualisation/tests-js/workspace-model.test.js
  gwr-visualisation/tests/cli.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-config): support focused layered configuration
  Cargo.lock
  Cargo.toml
  gwr-config/Cargo.toml
  gwr-config/README.md
  gwr-config/examples/alt_and_runtime_conf_files.rs
  gwr-config/examples/alt_conf_file.rs
  gwr-config/examples/alt_conf_file_missing.rs
  gwr-config/examples/application_subset.rs
  gwr-config/examples/full_conf_file.rs
  gwr-config/examples/full_conf_file.toml
  gwr-config/examples/no_conf_file.rs
  gwr-config/examples/partial_conf_file.rs
  gwr-config/examples/partial_conf_file.toml
  gwr-config/examples/runtime_conf_file.rs
  gwr-config/examples/runtime_conf_file.toml
  gwr-config/src/contract.rs
  gwr-config/src/lib.rs
  gwr-config/src/multi_source_config.rs
  gwr-config/tests/application_subset.rs
  gwr-config/tests/conf_file_flag_names.rs
  gwr-config/tests/parse_extra_conf_file.rs
  gwr-config/tests/partial_conf_file1.toml
  gwr-config/tests/partial_conf_file2.toml
  gwr-config/tests/partial_conf_file3.toml
  gwr-config/tests/ui/multi_source_config_rejects_missing_equals.rs
  gwr-config/tests/ui/multi_source_config_rejects_missing_equals.stderr
  gwr-config/tests/ui/multi_source_config_rejects_missing_path.rs
  gwr-config/tests/ui/multi_source_config_rejects_missing_path.stderr
  gwr-config/tests/ui/rejects_conditional_default.rs
  gwr-config/tests/ui/rejects_conditional_default.stderr
  gwr-config/tests/ui/rejects_conf_file_flag_collisions.rs
  gwr-config/tests/ui/rejects_conf_file_flag_collisions.stderr
  gwr-config/tests/ui/rejects_flattened_file_flag.rs
  gwr-config/tests/ui/rejects_flattened_file_flag.stderr
  gwr-config/tests/ui/rejects_serde_alias.rs
  gwr-config/tests/ui/rejects_serde_alias.stderr
  gwr-config/tests/value_enum_defaults.rs
  gwr-track/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

docs: update Prek builtin hooks link
  README.md
Due: check-copyright, lychee-check-links, prettier-markdown

infra: update to the latest version of Prek
  .github/actions/install-dev-dependencies/install.sh
Due: check-copyright

test(gwr-terminus): improve robustness of concurrent_executions_use_separate_scripts
  gwr-terminus/src/recipe/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-terminus): strip Operating System Command escape sequences
  gwr-terminus/src/recipe/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev
