Repository graphcore-research/gwr: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

Path conditions:
  check-copyright: any file but: (?x)(
  ^.git/.*|
  ^Cargo.lock|
  .*\.stderr$|
  d3.*.js|
  jquery.*.js|
  .*\.png|
  .*\.json
)

  lychee-check-links: any of: \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  prettier-markdown: any of: \.(md|markdown|mdown)$
  prettier-yaml: any of: \.(yaml|yml)$
  cargo-deny: any of: \.rs$, \.toml$
  cargo-about: any of: \.rs$, \.toml$
  cargo-nightly-fmt: any of: \.rs$
  cargo-check: any of: \.rs$, \.toml$
  cargo-clippy-strict: any of: \.rs$
  cargo-doc-gwr-dev: any of: \.rs$

chore: prevent ONNX submodule appearing in vscode search results
  .vscode/settings.json
Due: none

Revert "chore(gwr-onnx-sys,gwr-onnx): temporarily exclude from semver checks"
  semver-checks.sh
Due: check-copyright

fix(gwr-track): reinstate proper trace filtering
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-restaurant/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-engine/Cargo.toml
  gwr-models/Cargo.toml
  gwr-platform/Cargo.toml
  gwr-protocols/Cargo.toml
  gwr-resources/Cargo.toml
  gwr-spotter/Cargo.toml
  gwr-timetable/Cargo.toml
  gwr-track/Cargo.toml
  gwr-track/src/entity.rs
  gwr-track/src/lib.rs
  gwr-track/src/test_helpers.rs
  gwr-track/src/tracker/capnp.rs
  gwr-track/src/tracker/multi_tracker.rs
  gwr-track/src/tracker/perfetto.rs
  gwr-track/src/tracker/text.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

fix(gwr-spotter): ensure filtering restarts correctly
  gwr-spotter/src/filter.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat: Add onnx-opset-dump tool
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  licenses.html
  tools/onnx-opset-dump/Cargo.toml
  tools/onnx-opset-dump/README.md
  tools/onnx-opset-dump/build.rs
  tools/onnx-opset-dump/src/main.rs
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat: Add MaxPool operator
  Cargo.lock
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-models/Cargo.toml
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/dtype.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-models/src/processing_element/task.rs
  gwr-platform/Cargo.toml
  gwr-platform/examples/platform.yaml
  gwr-platform/src/bin/gen-fabric.rs
  gwr-platform/src/builder.rs
  gwr-platform/src/types.rs
  gwr-platform/src/yaml.rs
  gwr-timetable/Cargo.toml
  gwr-timetable/src/bin/gen-timetable.rs
  gwr-timetable/src/lib.rs
  gwr-timetable/src/timetable_file.rs
  gwr-timetable/tests/gen_timetable.rs
  gwr-timetable/tests/maxpool.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-timetable): add validate-timetable program
  gwr-models/src/fabric/functional.rs
  gwr-models/src/fabric/mod.rs
  gwr-models/src/fabric/routed.rs
  gwr-models/src/memory/cache.rs
  gwr-models/src/memory/mod.rs
  gwr-models/src/processing_element/load_store_unit.rs
  gwr-models/src/processing_element/mod.rs
  gwr-models/src/processing_element/operators/add.rs
  gwr-models/src/processing_element/operators/gemm.rs
  gwr-models/src/processing_element/operators/maxpool.rs
  gwr-models/src/processing_element/operators/mod.rs
  gwr-models/src/processing_element/task.rs
  gwr-platform/src/lib.rs
  gwr-timetable/src/analysis/memory.rs
  gwr-timetable/src/analysis/mod.rs
  gwr-timetable/src/analysis/pe.rs
  gwr-timetable/src/bin/validate-timetable.rs
  gwr-timetable/src/lib.rs
  gwr-timetable/tests/stats.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-components): Make Queue into component with ports
  Cargo.lock
  examples/flaky-component/Cargo.toml
  examples/flaky-with-delay/Cargo.toml
  examples/scrambler/Cargo.toml
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-restaurant/Cargo.toml
  examples/sim-restaurant/src/sim.rs
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-components/src/queue.rs
  gwr-components/tests/queue.rs
  gwr-engine/Cargo.toml
  gwr-models/Cargo.toml
  gwr-protocols/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

refactor(gwr-models): remove DataFrame and replace with MemoryAccess
  Cargo.lock
  examples/sim-fabric/Cargo.toml
  examples/sim-fabric/src/access_gen.rs
  examples/sim-fabric/src/lib.rs
  examples/sim-fabric/src/main.rs
  examples/sim-fabric/src/source_sink_builder.rs
  examples/sim-pipe/Cargo.toml
  examples/sim-pipe/src/frame_gen.rs
  examples/sim-pipe/src/main.rs
  examples/sim-ring/Cargo.toml
  gwr-models/Cargo.toml
  gwr-models/README.md
  gwr-models/src/data_frame.rs
  gwr-models/src/lib.rs
  gwr-platform/Cargo.toml
  gwr-timetable/Cargo.toml
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

chore: ignore proc-macro-error2 advisory
  deny.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

feat(gwr-terminus): add CRAP report recipe
  gwr-terminus/recipes/crap.yaml
Due: check-copyright, prettier-yaml

fix(gwr-terminus): run rather than source generated script
  Cargo.lock
  gwr-terminus/Cargo.toml
  gwr-terminus/src/bin/terminus.rs
  gwr-terminus/src/recipe/mod.rs
  licenses.html
Due: check-copyright, lychee-check-links, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-terminus): improve shell detection
  gwr-terminus/src/recipe/mod.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat(gwr-components): Add test bench generation macro
  Cargo.lock
  examples/sim-fabric/Cargo.toml
  examples/sim-pipe/Cargo.toml
  examples/sim-ring/Cargo.toml
  gwr-components/Cargo.toml
  gwr-components/README.md
  gwr-components/build.rs
  gwr-components/src/connect.rs
  gwr-components/src/lib.rs
  gwr-components/src/test_helpers.rs
  gwr-components/src/types.rs
  gwr-components/tests/build_test_harness.rs
  gwr-components/tests/test_harness.rs
  gwr-components/tests/test_harness_errors.rs
  gwr-developer-guide/book.toml
  gwr-developer-guide/md_src/SUMMARY.md
  gwr-developer-guide/md_src/components/ports.md
  gwr-developer-guide/md_src/components/testing.md
  gwr-developer-guide/md_src/models/testing.md
  gwr-models/Cargo.toml
  gwr-models/README.md
  gwr-models/build.rs
  gwr-models/src/lib.rs
  gwr-models/src/memory/memory_access.rs
  gwr-models/src/memory/traits.rs
  gwr-models/src/registers/mod.rs
  gwr-models/src/test_helpers.rs
  gwr-models/tests/cache.rs
  gwr-models/tests/fabric.rs
  gwr-models/tests/test_harness.rs
  gwr-platform/Cargo.toml
  gwr-protocols/src/packet.rs
  gwr-timetable/Cargo.toml
  gwr-track/src/lib.rs
  gwr-track/src/tracker/text.rs
  licenses.html
Due: check-copyright, lychee-check-links, prettier-markdown, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

feat: Add support for generating branch coverage
  gwr-config/tests/macro_properties/missing_path.rs
  gwr-config/tests/macro_properties/missing_path.stderr
  gwr-config/tests/macro_properties/name_only.rs
  gwr-config/tests/macro_properties/name_only.stderr
  gwr-config/tests/macro_properties/unsupported.rs
  gwr-config/tests/macro_properties/unsupported.stderr
  gwr-developer-guide/Cargo.toml
  gwr-developer-guide/src/lib.rs
  gwr-terminus/recipes/branch_coverage.yaml
Due: check-copyright, prettier-yaml, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

docs(gwr-models): fix typo in description of `dst_addr()` return
  gwr-models/src/memory/traits.rs
Due: check-copyright, cargo-deny, cargo-about, cargo-nightly-fmt, cargo-check, cargo-clippy-strict, cargo-doc-gwr-dev

infra: remove pre-push hook
  .pre-commit-config.yaml
Due: check-copyright, prettier-yaml

infra: use `default_stages` where possible for pre-commit hooks
  .pre-commit-config.yaml
Due: check-copyright, prettier-yaml

infra: remove pre-commit exclude rule
  .pre-commit-config.yaml
Due: check-copyright, prettier-yaml

infra: switch from pre-commit to prek
  .github/actions/install-dev-dependencies/install.sh
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  gwr-terminus/recipes/semver.yaml
  prek.toml
Due: check-copyright, lychee-check-links, prettier-markdown, prettier-yaml, cargo-deny, cargo-about, cargo-check

infra: run prek hooks in parallel
  prek.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check

infra: lint and format TOML files with taplo
  .github/actions/install-dev-dependencies/install.sh
  .vscode/settings.json
  Cargo.toml
  about.toml
  deny.toml
  gwr-developer-guide/Cargo.toml
  gwr-developer-guide/book.toml
  gwr-spotter/Cargo.toml
  gwr-terminus/Cargo.toml
  gwr-timetable/Cargo.toml
  lychee.toml
  prek.toml
  release-plz.toml
  taplo.toml
Due: check-copyright, cargo-deny, cargo-about, cargo-check
